Lab2/07台北市資料大平台即時雨量API/Rain.json
[{"id":"b6143ac5.cd63b8","type":"tab","label":"臺北市即時雨量DEMO","disabled":false,"info":""},{"id":"5918ccef.155334","type":"inject","z":"b6143ac5.cd63b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["7dbf7b25.ea35b4"]]},{"id":"7dbf7b25.ea35b4","type":"function","z":"b6143ac5.cd63b8","name":"token","func":"msg.query = msg.payload[\"query\"] || \"\";\nmsg.headers = {};\nmsg.headers['loginId'] = 'open_rain';\nmsg.headers['dataKey'] = '85452C1D';\n\n//   msg.payload={'Authorization' : 'Bearer '+key};\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["ec82a790.5d8178","78e68e51.63155"]]},{"id":"ec82a790.5d8178","type":"http request","z":"b6143ac5.cd63b8","name":"Rain","method":"GET","ret":"txt","paytoqs":false,"url":"http://117.56.59.17/OpenData/API/Rain/Get?stationNo={{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":300,"wires":[["bc09fc5a.acc69","f7a0977.a3b4868"]]},{"id":"bc09fc5a.acc69","type":"debug","z":"b6143ac5.cd63b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":200,"wires":[]},{"id":"78e68e51.63155","type":"debug","z":"b6143ac5.cd63b8","name":"","active":false,"console":"false","complete":"true","x":470,"y":100,"wires":[]},{"id":"d5631e01.ba09d","type":"http in","z":"b6143ac5.cd63b8","name":"","url":"/rain","method":"get","upload":false,"swaggerDoc":"","x":100,"y":300,"wires":[["7dbf7b25.ea35b4"]]},{"id":"6140da33.6228a4","type":"http response","z":"b6143ac5.cd63b8","name":"","statusCode":"","headers":{},"x":890,"y":300,"wires":[]},{"id":"f7a0977.a3b4868","type":"function","z":"b6143ac5.cd63b8","name":"filter","func":"\n//只捉data區塊\nlet raindata = JSON.parse(msg.payload);\nmsg.payload = JSON.stringify(raindata.data);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["4b6e104b.5e7a1","6140da33.6228a4"]]},{"id":"4b6e104b.5e7a1","type":"debug","z":"b6143ac5.cd63b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":200,"wires":[]},{"id":"29d105fc.f07bca","type":"comment","z":"b6143ac5.cd63b8","name":"測試網址","info":"單一區\nhttps://andylabdemo.us-south.cf.appdomain.cloud/rain?query=012\n\n全部\nhttps://andylabdemo.us-south.cf.appdomain.cloud/rain","x":100,"y":260,"wires":[]},{"id":"812b19f0.0fcc58","type":"comment","z":"b6143ac5.cd63b8","name":"資料來源-台北市資料大平台","info":"台北市資料大平台\nhttps://data.taipei/#/\n\n臺北市雨量站即時資料API\nhttps://data.taipei/#/dataset/detail?id=6f03a0b8-7b98-4eea-8bb9-ba6bfcdc2b8b","x":160,"y":40,"wires":[]}]