Lab2/05WatsonPersonalityInsights/PersonalityInsights.json
[{"id":"56cf6e79.d39d","type":"tab","label":"watsion Personality Insights","disabled":false,"info":""},{"id":"f5e4c00.240a64","type":"inject","z":"56cf6e79.d39d","name":"","topic":"","payload":"The President was really in a bad mood,\" recounted the man on the line, US Ambassador to the European Union Gordon Sondland, who was hoping to learn whether the President was, in fact, withholding security assistance to coerce Ukraine into investigating political rivals. \"I wouldn't say he hung up me,\" Sondland recalled, \"but it was almost like he hung up on me.\" The absence of phone etiquette is hardly a surprise for a President not known for his manners. But the episode, recounted by Sondland during his daylong private deposition before lawmakers for the impeachment inquiry, helps color the portrait of a mercurial and loyalty-minded President that emerges from thousands of pages of transcribed sworn interviews. Like a new book written by an anonymous administration official, the transcripts depict a President consumed by festering grievances and an administration perpetually thrown into chaos by rash decisions -- and the tweets that announce them. Unlike that book, these recollections are provided by named individuals, speaking under the threat of criminal prosecution for lying to Congress. Most still work for Trump In the transcripts, which have dropped each day this week, Trump emerges as fickle, susceptible to flattery and prone to grudges. \"They tried to take me down,\" the President said of Ukraine during a now-scrutinized Oval Office meeting in May, venting it was Kiev that had attempted to damage him during the 2016 election -- a theory rooted in conspiracy that, despite efforts by his advisers to debunk, Trump ran with. Far from acting as guides to his foreign policy, diplomats and senior officials working for him are shown struggling to ascertain his positions and bracing for groundbreaking policy shifts to come without warning. Professional diplomats -- some of whom still work in the administration -- emerge from the testimony appearing shell-shocked by what was happening in Washington, at least at the moments when they could actually learn what that was.  At others, they describe futile efforts -- including by watching Fox News -- to learn what Trump's associates were doing in the countries where they were posted, and after-the-fact realizations that they were being undercut by their own employer. \"With the advantage of hindsight, you're going to think that I'm incredibly naive, but I couldn't imagine all of the things that have happened over the last five or seven months,\" the onetime US ambassador in Ukraine, Marie Yovanovitch, said during her interview. \"I just couldn't imagine it.\" Like others who were interviewed, Yovanovitch expressed her deep concerns at the parallel foreign policy in Ukraine carried out by the President's personal attorney Rudy Giuliani. He emerges in the pages of the transcripts both as a proxy for the President and a foot soldier attempting to nudge the Ukrainians into taking actions that would help Trump politically. The realization came only over time to the professionals responsible for Ukraine. \"I worked extraordinarily long days, so the last thing that I wanted to do when I went home was watch television,\" said Fiona Hill, the onetime senior director for Europe and Russia on the National Security Council. \"But I would have to go home in the evening and try to look on the news to see what Giuliani was saying.\" Even Trump's top diplomat, Secretary of State Mike Pompeo, seemed to acknowledge that the parallel diplomacy being carried out by Giuliani was a distraction -- at one point rolling his eyes at the mention of Giuliani's name -- but still a necessary evil in the Trump administration. \"Yes, it's something we have to deal with,\" Sondland recalled Pompeo telling him about Giuliani.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":160,"wires":[["57915706.b4bda8"]]},{"id":"dbc95104.d4e74","type":"debug","z":"56cf6e79.d39d","name":"","active":false,"tosidebar":true,"console":true,"complete":"insights","x":575,"y":159,"wires":[]},{"id":"57915706.b4bda8","type":"watson-personality-insights-v3","z":"56cf6e79.d39d","name":"","inputlang":"en","outputlang":"zh-tw","rawscores":false,"consumption":true,"default-endpoint":false,"service-endpoint":"","x":367,"y":160,"wires":[["dbc95104.d4e74"]]},{"id":"6a0d9bcd.41aa44","type":"inject","z":"56cf6e79.d39d","name":"","topic":"","payload":"It was the middle of winter, and the snow-flakes were falling like feathers from the sky, and a queen sat at her window working, and her embroidery-frame was of ebony. And as she worked, gazing at times out on the snow, she pricked her finger, and there fell from it three drops of blood on the snow. And when she saw how bright and red it looked, she said to herself, \"Oh that I had a child as white as snow, as red as blood, and as black as the wood of the embroidery frame!\" Not very long after she had a daughter, with a skin as white as snow, lips as red as blood, and hair as black as ebony, and she was named Snow-white. And when she was born the queen died. After a year had gone by the king took another wife, a beautiful woman, but proud and overbearing, and she could not bear to be surpassed in beauty by any one. She had a magic looking-glass, and she used to stand before it, and look in it, and say,  \"Looking-glass upon the wall, Who is fairest of us all?\"  And the looking-glass would answer,  \"You are fairest of them all.\"  And she was contented, for she knew that the looking-glass spoke the truth. Now, Snow-white was growing prettier and prettier, and when she was seven years old she was as beautiful as day, far more so than the queen herself. So one day when the queen went to her mirror and said,  \"Looking-glass upon the wall, Who is fairest of us all?\"  It answered,  \"Queen, you are full fair, 'tis true, But Snow-white fairer is than you.\"  This gave the queen a great shock, and she became yellow and green with envy, and from that hour her heart turned against Snow-white, and she hated her. And envy and pride like ill weeds grew in her heart higher every day, until she had no peace day or night. At last she sent for a huntsman, and said, \"Take the child out into the woods, so that I may set eyes on her no more. You must put her to death, and bring me her heart for a token.\" The huntsman consented, and led her away; but when he drew his cutlass to pierce Snow-white's innocent heart, she began to weep, and to say, \"Oh, dear huntsman, do not take my life; I will go away into the wild wood, and never come home again.\" And as she was so lovely the huntsman had pity on her, and said, \"Away with you then, poor child;\" for he thought the wild animals would be sure to devour her, and it was as if a stone had been rolled away from his heart when he spared to put her to death. Just at that moment a young wild boar came running by, so he caught and killed it, and taking out its heart, he brought it to the queen for a token. And it was salted and cooked, and the wicked woman ate it up, thinking that there was an end of Snow-white.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":176,"y":242,"wires":[["57915706.b4bda8"]]},{"id":"7c49da84.2dc754","type":"http in","z":"56cf6e79.d39d","name":"","url":"/github-raw","method":"get","upload":false,"swaggerDoc":"","x":120,"y":500,"wires":[["17a6013f.76921f"]]},{"id":"74a2fec6.58c66","type":"http response","z":"56cf6e79.d39d","name":"","x":930,"y":640,"wires":[]},{"id":"3d2c086c.512478","type":"http request","z":"56cf6e79.d39d","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":500,"wires":[["c193cf6b.d942a","2e17b0a3.43668"]]},{"id":"49729602.af1628","type":"debug","z":"56cf6e79.d39d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":400,"wires":[]},{"id":"c193cf6b.d942a","type":"debug","z":"56cf6e79.d39d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"insights","targetType":"msg","x":750,"y":400,"wires":[]},{"id":"17a6013f.76921f","type":"change","z":"56cf6e79.d39d","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":500,"wires":[["3d2c086c.512478","49729602.af1628"]]},{"id":"b14180cf.37098","type":"change","z":"56cf6e79.d39d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"insights","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":640,"wires":[["74a2fec6.58c66"]]},{"id":"ce6eb0d1.44564","type":"comment","z":"56cf6e79.d39d","name":"CNN NEWS","info":"https://edition.cnn.com/2019/11/09/tech/tsm-esports-careers-college/index.html","x":110,"y":440,"wires":[]},{"id":"2e17b0a3.43668","type":"watson-personality-insights-v3","z":"56cf6e79.d39d","name":"","inputlang":"en","outputlang":"zh-tw","rawscores":false,"consumption":true,"default-endpoint":false,"service-endpoint":"","x":730,"y":500,"wires":[["b14180cf.37098"]]},{"id":"20a60dc2.044952","type":"comment","z":"56cf6e79.d39d","name":"傳網址分析新聞API","info":"https://edition.cnn.com/2019/11/09/tech/tsm-esports-careers-college/index.html","x":130,"y":400,"wires":[]}]