Lab1/05ＷastonNaturalLanguageUnderstanding/NaturalLanguageUnderstanding.json
[{"id":"65c486de.61f8a8","type":"tab","label":"Natural Language Understanding","disabled":false,"info":""},{"id":"3a0f340c.fd84fc","type":"inject","z":"65c486de.61f8a8","name":"URL","topic":"","payload":"https://forum.gamer.com.tw/C.php?bsn=1405&snA=24630","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":260,"wires":[["fb8b8aac.cb8838"]]},{"id":"97e76190.c211f","type":"inject","z":"65c486de.61f8a8","name":"Text","topic":"","payload":"This is the sample text on which I want some understanding.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":220,"wires":[["fb8b8aac.cb8838"]]},{"id":"fb8b8aac.cb8838","type":"natural-language-understanding","z":"65c486de.61f8a8","name":"","categories":true,"limitcategories":"","concepts":true,"maxconcepts":"5","doc-emotion":true,"doc-emotion-target":"apples, pears","doc-sentiment":true,"doc-sentiment-target":"sharks, dolphins, whales","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"10","metadata":false,"relation":false,"semantic":true,"semantic-entities":true,"semantic-keywords":false,"maxsemantics":"20","limittextcharacters":"","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":false,"service-endpoint":"","x":460,"y":260,"wires":[["7b21542f.1ff0dc"]]},{"id":"7b21542f.1ff0dc","type":"debug","z":"65c486de.61f8a8","name":"","active":false,"console":"false","complete":"true","x":710,"y":260,"wires":[]},{"id":"e024c6c1.3c8b48","type":"function","z":"65c486de.61f8a8","name":"filter","func":"var word=msg.payload;\nvar features = msg.features;\nvar tones = features.keywords;\nvar text = \"\";\n\ntones.forEach(function(item) {\n  text=text.concat(\"[\",item.text,\":\",item.relevance.toFixed(3).toString(),\"] \")\n});\n\nmsg.payload={};\nmsg.payload.word=word;\nmsg.payload.analyzer = text.trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":480,"wires":[[]]},{"id":"78a483c7.ca149c","type":"http in","z":"65c486de.61f8a8","name":"","url":"/natural","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[[]]},{"id":"4bcf4ba7.52b6a4","type":"http response","z":"65c486de.61f8a8","name":"","x":990,"y":480,"wires":[]},{"id":"84e7576f.9425f8","type":"change","z":"65c486de.61f8a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://newsroom.ibm.com/think-spotlight?item=30994","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":480,"wires":[[]]},{"id":"bc7dcae6.eee568","type":"comment","z":"65c486de.61f8a8","name":"範例文章","info":"測試文章:\nhttps://newsroom.ibm.com/think-spotlight?item=30994\n\nhttps://twitter.com/realDonaldTrump/status/1196658170984357888\n\nhttps://forum.gamer.com.tw/C.php?bsn=1405&snA=24630\n\n參考說明:\nhttps://www.ibm.com/tw-zh/cloud/watson-natural-language-understanding/faq\n阿拉伯文、中文（簡體）、荷蘭文、英文、法文、德文、義大利文、日文、韓文、葡萄牙文、俄文、西班牙文、瑞典文","x":160,"y":160,"wires":[]},{"id":"8740b580.2d2868","type":"comment","z":"65c486de.61f8a8","name":"Natural Understanding API服務","info":"https://www.ibm.com/tw-zh/cloud/watson-natural-language-understanding/faq\n阿拉伯文、中文（簡體）、荷蘭文、英文、法文、德文、義大利文、日文、韓文、葡萄牙文、俄文、西班牙文、瑞典文","x":230,"y":380,"wires":[]},{"id":"3c2e1c79.80bf54","type":"comment","z":"65c486de.61f8a8","name":"","info":"{\"features\":{\"concepts\":{},\"entities\":{},\"keywords\":{},\"categories\":{},\"emotion\":{},\"sentiment\":{},\"semantic_roles\":{},\"syntax\":{\"tokens\":{\"lemma\":true,\"part_of_speech\":true},\"sentences\":true}},\"url\":\"https://www.bbc.com/zhongwen/trad/science-50409041\"}\nhttps://natural-language-understanding-demo.ng.bluemix.net/api/analyze\nhttps://natural-language-understanding-demo.ng.bluemix.net/","x":160,"y":760,"wires":[]},{"id":"14f77222.fff05e","type":"natural-language-understanding","z":"65c486de.61f8a8","name":"","categories":true,"limitcategories":"","concepts":true,"maxconcepts":"5","doc-emotion":true,"doc-emotion-target":"apples, pears","doc-sentiment":true,"doc-sentiment-target":"sharks, dolphins, whales","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"10","metadata":false,"relation":false,"semantic":true,"semantic-entities":true,"semantic-keywords":false,"maxsemantics":"20","limittextcharacters":"","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":false,"service-endpoint":"","x":620,"y":480,"wires":[[]]}]