Lab1/05ＷastonNaturalLanguageUnderstanding/NaturalLanguageUnderstanding.json
[{"id":"80547822.8adfd8","type":"tab","label":"Natural Language Understanding","disabled":false,"info":""},{"id":"cff2a627.1a2fe8","type":"inject","z":"80547822.8adfd8","name":"URL","topic":"","payload":"https://newsroom.ibm.com/think-spotlight?item=30994","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":260,"wires":[["6b6ff48f.cd476c"]]},{"id":"e3011f59.6ccc5","type":"inject","z":"80547822.8adfd8","name":"Text","topic":"","payload":"This is the sample text on which I want some understanding.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":220,"wires":[["6b6ff48f.cd476c"]]},{"id":"6b6ff48f.cd476c","type":"natural-language-understanding","z":"80547822.8adfd8","name":"","categories":true,"limitcategories":"","concepts":true,"maxconcepts":"5","doc-emotion":true,"doc-emotion-target":"apples, pears","doc-sentiment":true,"doc-sentiment-target":"sharks, dolphins, whales","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"10","metadata":false,"relation":false,"semantic":true,"semantic-entities":true,"semantic-keywords":false,"maxsemantics":"20","limittextcharacters":"","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":false,"service-endpoint":"","x":460,"y":260,"wires":[["c45dd298.a29cf"]]},{"id":"c45dd298.a29cf","type":"debug","z":"80547822.8adfd8","name":"","active":false,"console":"false","complete":"true","x":710,"y":260,"wires":[]},{"id":"de3b82e2.35ab3","type":"function","z":"80547822.8adfd8","name":"paser payload","func":"var word=msg.payload;\nvar features = msg.features;\nvar tones = features.keywords;\nvar text = \"\";\n\ntones.forEach(function(item) {\n  text=text.concat(\"[\",item.text,\":\",item.relevance.toFixed(3).toString(),\"] \")\n});\n\nmsg.payload={};\nmsg.payload.word=word;\nmsg.payload.analyzer = text.trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":480,"wires":[["af66535.64afab"]]},{"id":"4efa7ca9.e94924","type":"http in","z":"80547822.8adfd8","name":"","url":"/natural","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["88a16399.d20ea"]]},{"id":"af66535.64afab","type":"http response","z":"80547822.8adfd8","name":"","x":1050,"y":480,"wires":[]},{"id":"88a16399.d20ea","type":"change","z":"80547822.8adfd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://newsroom.ibm.com/think-spotlight?item=30994","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":480,"wires":[["2fca2a52.e21c76"]]},{"id":"f2a59338.c2a92","type":"comment","z":"80547822.8adfd8","name":"13種語言","info":"https://www.ibm.com/tw-zh/cloud/watson-natural-language-understanding/faq\n阿拉伯文、中文（簡體）、荷蘭文、英文、法文、德文、義大利文、日文、韓文、葡萄牙文、俄文、西班牙文、瑞典文","x":160,"y":160,"wires":[]},{"id":"f4674966.9d1418","type":"comment","z":"80547822.8adfd8","name":"Natural Understanding API服務","info":"https://www.ibm.com/tw-zh/cloud/watson-natural-language-understanding/faq\n阿拉伯文、中文（簡體）、荷蘭文、英文、法文、德文、義大利文、日文、韓文、葡萄牙文、俄文、西班牙文、瑞典文","x":230,"y":420,"wires":[]},{"id":"2fca2a52.e21c76","type":"natural-language-understanding","z":"80547822.8adfd8","name":"","categories":true,"limitcategories":"","concepts":true,"maxconcepts":"5","doc-emotion":true,"doc-emotion-target":"apples, pears","doc-sentiment":true,"doc-sentiment-target":"sharks, dolphins, whales","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"10","metadata":false,"relation":false,"semantic":true,"semantic-entities":true,"semantic-keywords":false,"maxsemantics":"20","limittextcharacters":"","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":false,"service-endpoint":"","x":620,"y":480,"wires":[["de3b82e2.35ab3"]]},{"id":"4458ff40.a78aa","type":"comment","z":"80547822.8adfd8","name":"測試網址","info":"https://andylabdemo.us-south.cf.appdomain.cloud/natural","x":460,"y":420,"wires":[]}]