Lab2/01WatsonAssistant/Assistant.json
[{"id":"a0b54fed.11891","type":"tab","label":"watson Assistant","disabled":false,"info":""},{"id":"3864ca9f.4ab2a6","type":"watson-assistant-v2","z":"a0b54fed.11891","name":"","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"4317acbd-27c1-4498-9a10-d014ac94621e","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":470,"y":180,"wires":[["41b5b869.3fe628","292bd160.2cf03e"]]},{"id":"64dd01f8.b4b4d","type":"http in","z":"a0b54fed.11891","name":"","url":"/assistant","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["783cfeb2.38c0a"]]},{"id":"11284e9c.122f21","type":"http response","z":"a0b54fed.11891","name":"","statusCode":"","headers":{},"x":830,"y":180,"wires":[]},{"id":"41b5b869.3fe628","type":"debug","z":"a0b54fed.11891","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":80,"wires":[]},{"id":"200e4a6.38732b6","type":"inject","z":"a0b54fed.11891","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":80,"wires":[["3864ca9f.4ab2a6"]]},{"id":"af008c42.9ff8","type":"template","z":"a0b54fed.11891","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<html>\n<head>\n<title>50嵐(五十嵐)台北市冷飲店-分店、門市</title>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n</head>\n\n<body oncopy=\"return false;\" bgcolor=\"#FFFFFF\" text=\"#000000\" link=\"#1772af\" vlink=\"#FF0000\" alink=\"#FF0000\">\n<center>\n  <table width=\"600\" border=\"1\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr> \n      <td width=\"600\" height=\"550\" valign=\"top\">  \n        <div align=\"center\"> \n          <h3><b><font face=\"Verdana, Arial, Helvetica, sans-serif\" size=\"4\" color=\"#999999\"><font color=\"#000000\" size=\"5\">50嵐(五十嵐)台北市冷飲店-</font></font><font color=\"#000000\" size=\"5\" face=\"Verdana, Arial, Helvetica, sans-serif\">分店、門市</font></b></h3>\n        </div>\n        <blockquote>\n          <div align=\"center\">\n            <div align=\"left\">\n              <p><b><font face=\"Verdana, Arial, Helvetica, sans-serif\" size=\"2\"><a href=\"http://www.i-write.idv.tw/life/info/info.html\">Home</a> | <a href=\"50lan.html\">50嵐冷飲店分店、門市首頁</a></font></b></p>\n              <table width=\"520\" border=\"0\" align=\"center\">\n                <tr>\n                  <td width=\"260\"></td>\n                  <td width=\"250\"></td>\n                </tr>\n              </table>\n              <hr>\n              <h3><b><font face=\"Verdana, Arial, Helvetica, sans-serif\" size=\"4\" color=\"#999999\"><font color=\"#000000\" size=\"5\">50嵐(五十嵐)冷飲店-堅持才有好品質</font></font></b></h3>\n              <p><font color=\"#000000\" size=\"3\" face=\"Verdana, Arial, Helvetica, sans-serif\">\n\t\t\t  <div style=\"FLOAT: RIGHT; MARGIN: 15PX\"></div>\n\t\t\t  </font>\n              <p>一到炎熱的夏天，總讓人覺得心情煩燥，如果再加上流汗就更讓人覺得不舒服，最好的方式就是待在冷氣房裏，喝杯清涼的飲料，就整個讓人非常的清涼，在台灣有個很特殊的現像，各式飲品飲料店如同便利超商般的在各地開設，選擇性也是超多的，根據調查（網路上查得到的資料）顯示，台灣一年消耗的飲料達近1500萬頓，飲料業的產值達500億台幣，可見台灣人非常愛喝飲料，如雨後春筍般，各品牌飲料店也像開便利商店般在台灣各處開立，50嵐正是一個已經受肯定的飲料品牌。愛好飲品的一定不會錯過的一個飲料品牌。</p>\n              <p><b><font face=\"Verdana, Arial, Helvetica, sans-serif\" size=\"4\" color=\"#999999\"><font color=\"#000000\" size=\"5\">50嵐(五十嵐)冷飲店-經營理念、特色、價目表</font></font></b></p>\n              <p>50嵐的前身，是一家雞排旁的飲品攤販，隨著販賣飲品的生意越有起色，慢慢的成為比較正式有吧檯的飲品攤販，在當時是以果汁飲品為主要的銷售商品，生意越來越有起色，也越賣越好，當時的馬老闆因一個偶然的機會取了一個日本的名字50嵐，因此這個品牌也正式的成立。</p>\n              <p>五十嵐原本以果汁為主要的銷售飲品，但因水果汁準備的程序複雜，加上茶飲品越賣越好，因此飲品的販賣轉成以茶飲品為主，越來越有規模，如今已是一個有約500家飲料分店的飲料品牌，能夠成為500家飲料店的一個連鎖飲料品牌，對其產品的品質有相當嚴格的標準，就像去吃日本料理般，每位到五十嵐買飲料的客人，五十嵐對客人的招呼也要非常要求員工，讓來這裏消費的客人都能得到禮遇。</p>\n              <p>不管是服務還是品牌，都只能算是產品加值，最重要的當然是五十嵐的各式茶飲料，50嵐的珍珠奶茶就相當的有特色，順口的小珍珠或有咬勁的波霸珍珠都很好吃，養樂多綠茶、古早味紅茶、四季春綠茶、愛玉冰茶、紅茶與冰淇淋的組合、仙草蜜等等，各式各樣的茶飲品，都相當受到市場的推薦喔，不斷的創新也是50嵐的特色。</p>\n\n              <p><b><font face=\"Verdana, Arial, Helvetica, sans-serif\" size=\"4\">50嵐(五十嵐)台北市</font><font face=\"Verdana, Arial, Helvetica, sans-serif\" size=\"4\">分店門市、電話、地址等資訊</font></b></p>\n              <p><br>\n              </p>\n            </div>\n          </div>\n        </blockquote>\n        <div align=\"center\">\n          <p>&nbsp;</p>\n        </div>      </td>\n    </tr>\n  </table>\n</center>\n<script src=https://assistant-web.watsonplatform.net/loadWatsonAssistantChat.js></script>\n<script>\n  window.loadWatsonAssistantChat({\n    integrationID: \"XXXXX\", // The ID of this integration.\n    region: \"us-south\" // The region your integration is hosted in.\n  }).then(function(instance){\n    instance.render();\n  });\n</script>\n</body>\n</html>\n","output":"str","x":320,"y":500,"wires":[["583e21d7.0302a","a008c3c8.ab2"]]},{"id":"1c13547f.4d20dc","type":"http in","z":"a0b54fed.11891","name":"","url":"/qqbot","method":"get","upload":false,"swaggerDoc":"","x":90,"y":500,"wires":[["af008c42.9ff8"]]},{"id":"583e21d7.0302a","type":"http response","z":"a0b54fed.11891","name":"","statusCode":"","headers":{},"x":570,"y":500,"wires":[]},{"id":"a008c3c8.ab2","type":"debug","z":"a0b54fed.11891","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":460,"wires":[]},{"id":"adc9d6ec.dfba18","type":"comment","z":"a0b54fed.11891","name":"Watson Assistant web chatbot","info":"","x":150,"y":440,"wires":[]},{"id":"783cfeb2.38c0a","type":"change","z":"a0b54fed.11891","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.say","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":180,"wires":[["3864ca9f.4ab2a6"]]},{"id":"292bd160.2cf03e","type":"change","z":"a0b54fed.11891","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.generic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":180,"wires":[["11284e9c.122f21"]]},{"id":"2f9790.b0d3787","type":"template","z":"a0b54fed.11891","d":true,"name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script src=https://assistant-web.watsonplatform.net/loadWatsonAssistantChat.js></script>\n<script>\n  window.loadWatsonAssistantChat({\n    integrationID: \"XXXX\", // The ID of this integration.\n    region: \"us-south\" // The region your integration is hosted in.\n  }).then(function(instance){\n    instance.render();\n  });\n</script>","output":"str","x":320,"y":540,"wires":[[]]}]