Lab1/04ＷastonVisualRecognition/VisualRecognition.json
[{"id":"a4fecc93.ff4e","type":"tab","label":"watson圖片辨視","disabled":false,"info":""},{"id":"716ce2c3.65b24c","type":"visual-recognition-v3","z":"a4fecc93.ff4e","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"zh-tw","x":650,"y":320,"wires":[["c299902e.550fc","67d88ba8.f36884"]]},{"id":"c299902e.550fc","type":"debug","z":"a4fecc93.ff4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":280,"wires":[]},{"id":"67d88ba8.f36884","type":"function","z":"a4fecc93.ff4e","name":"paser payload","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class; \n// msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":320,"wires":[["3fab1a54.10c776"]]},{"id":"71dba3a9.c3f97c","type":"function","z":"a4fecc93.ff4e","name":"get url","func":"var url = msg.payload[\"url\"];\nmsg.payload = url;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["716ce2c3.65b24c"]]},{"id":"3fab1a54.10c776","type":"http response","z":"a4fecc93.ff4e","name":"","statusCode":"","headers":{},"x":1050,"y":320,"wires":[]},{"id":"d95c5d2e.802b6","type":"http in","z":"a4fecc93.ff4e","name":"","url":"/identify","method":"get","upload":false,"swaggerDoc":"","x":230,"y":320,"wires":[["71dba3a9.c3f97c"]]},{"id":"56d1fbdb.2e1254","type":"inject","z":"a4fecc93.ff4e","name":"dog","topic":"","payload":"https://i.imgur.com/P25Dfmc.png","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":140,"wires":[["698b2abb.c0f9b4"]]},{"id":"698b2abb.c0f9b4","type":"visual-recognition-v3","z":"a4fecc93.ff4e","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"zh-tw","x":650,"y":140,"wires":[["b2bd17bd.b08dc8","3b7c1b19.5276a4"]]},{"id":"587ae76.b539918","type":"debug","z":"a4fecc93.ff4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":140,"wires":[]},{"id":"b2bd17bd.b08dc8","type":"function","z":"a4fecc93.ff4e","name":"classifiers","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class; \n// msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":140,"wires":[["587ae76.b539918"]]},{"id":"3b7c1b19.5276a4","type":"debug","z":"a4fecc93.ff4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":80,"wires":[]},{"id":"6590c5d9.3d8a5c","type":"inject","z":"a4fecc93.ff4e","name":"food","topic":"","payload":"https://watson-developer-cloud.github.io/doc-tutorial-downloads/visual-recognition/fruitbowl.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":80,"wires":[["698b2abb.c0f9b4"]]},{"id":"4be0762a.cd2e88","type":"visual-recognition-v3","z":"a4fecc93.ff4e","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"zh-tw","x":650,"y":500,"wires":[["64b4820d.ba71ec","29db5610.2e0a4a"]]},{"id":"29db5610.2e0a4a","type":"function","z":"a4fecc93.ff4e","name":"classfiers","func":"var iclass=msg.result.images[0].classifiers[0].classes[0].class; \nvar iscore=msg.result.images[0].classifiers[0].classes[0].score.toString(); \nmsg.classifiers = iclass+\":\"+iscore;\n// msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":500,"wires":[["1d91189e.17a2b7"]]},{"id":"64b4820d.ba71ec","type":"debug","z":"a4fecc93.ff4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":560,"wires":[]},{"id":"5c12e823.9e2228","type":"debug","z":"a4fecc93.ff4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":460,"wires":[]},{"id":"2cd3b829.bec8c8","type":"http in","z":"a4fecc93.ff4e","name":"","url":"/uploadpic","method":"get","upload":false,"swaggerDoc":"","x":120,"y":640,"wires":[["960253cd.f075"]]},{"id":"960253cd.f075","type":"template","z":"a4fecc93.ff4e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Upload a file here:</h1>\n\n<form action=\"/uploadpic_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":290,"y":640,"wires":[["2344a334.06e68c"]]},{"id":"2344a334.06e68c","type":"http response","z":"a4fecc93.ff4e","name":"","x":450,"y":640,"wires":[]},{"id":"126e454f.3f6feb","type":"debug","z":"a4fecc93.ff4e","name":"","active":false,"tosidebar":true,"console":false,"complete":"req.files","x":370,"y":700,"wires":[]},{"id":"c050f7e3.33c118","type":"comment","z":"a4fecc93.ff4e","name":"Simple file upload example","info":"http://localhost:1880/upload","x":150,"y":600,"wires":[]},{"id":"1cf0c39e.7f3f6c","type":"http in","z":"a4fecc93.ff4e","name":"","url":"/uploadpic_post","method":"post","upload":true,"swaggerDoc":"","x":140,"y":760,"wires":[["126e454f.3f6feb","76705956.299698"]]},{"id":"76705956.299698","type":"change","z":"a4fecc93.ff4e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":760,"wires":[["4be0762a.cd2e88"]]},{"id":"3a109aa1.e659c6","type":"http response","z":"a4fecc93.ff4e","name":"","statusCode":"","headers":{},"x":1350,"y":540,"wires":[]},{"id":"691b324b.8e93cc","type":"template","z":"a4fecc93.ff4e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>File uploaded !</p>\n\n<hr>\n\n<pre>\n{{{payload}}}\n</pre>","output":"str","x":1200,"y":540,"wires":[["3a109aa1.e659c6"]]},{"id":"1d91189e.17a2b7","type":"function","z":"a4fecc93.ff4e","name":"merge image","func":"var classifiers=\"\".concat(\"<H2>\",msg.classifiers,\"<H2>\");\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\" width=\"50%\" height=\"50%\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\nmsg.payload=classifiers+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":500,"wires":[["5c12e823.9e2228","691b324b.8e93cc"]]},{"id":"36aed885.12e148","type":"comment","z":"a4fecc93.ff4e","name":"練習-做一個圖片辨視API","info":"var sayword=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\nfor(var i=0;i<tones.length;i++){\n    text += tones[i].tone_id + \":\" + (tones[i].score*100).toString().split(\".\")[0] + \"%,\";\n}\n\ntext = text.slice(0,text.length-1);\n\nmsg.payload={};\nmsg.payload.sayword=sayword;\nmsg.payload.analyzer = text;\n\nreturn msg;","x":130,"y":220,"wires":[]},{"id":"fd1e7dac.4631c","type":"comment","z":"a4fecc93.ff4e","name":"練習-做一個可上傳圖片的辨視API","info":"var sayword=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\nfor(var i=0;i<tones.length;i++){\n    text += tones[i].tone_id + \":\" + (tones[i].score*100).toString().split(\".\")[0] + \"%,\";\n}\n\ntext = text.slice(0,text.length-1);\n\nmsg.payload={};\nmsg.payload.sayword=sayword;\nmsg.payload.analyzer = text;\n\nreturn msg;","x":170,"y":500,"wires":[]},{"id":"88099c87.eaaef","type":"comment","z":"a4fecc93.ff4e","name":"測試網址","info":"\nhttps://andylabdemo.us-south.cf.appdomain.cloud/identify?url=https://i.imgur.com/P25Dfmc.png","x":420,"y":220,"wires":[]}]