Lab1/04ＷastonVisualRecognition/VisualRecognition.json
[{"id":"962686a4.cba5f8","type":"tab","label":"watson圖片辨視","disabled":false,"info":""},{"id":"3ff0181b.4beea8","type":"visual-recognition-v3","z":"962686a4.cba5f8","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"zh-tw","x":650,"y":320,"wires":[["dbb016e4.f20958","1b077cc.de65c83"]]},{"id":"dbb016e4.f20958","type":"debug","z":"962686a4.cba5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":280,"wires":[]},{"id":"1b077cc.de65c83","type":"function","z":"962686a4.cba5f8","name":"classifiers","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class; \n// msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":320,"wires":[["e45972e5.e6482"]]},{"id":"970c1e9a.81194","type":"function","z":"962686a4.cba5f8","name":"","func":"// var url = msg.payload[\"url\"];\n// msg.payload = url;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["3ff0181b.4beea8"]]},{"id":"e45972e5.e6482","type":"http response","z":"962686a4.cba5f8","name":"","statusCode":"","headers":{},"x":970,"y":320,"wires":[]},{"id":"1ba482d2.c809ed","type":"http in","z":"962686a4.cba5f8","name":"","url":"/identify","method":"get","upload":false,"swaggerDoc":"","x":280,"y":320,"wires":[["970c1e9a.81194"]]},{"id":"4d2feb66.579964","type":"inject","z":"962686a4.cba5f8","name":"","topic":"","payload":"http://www.greatgrubclub.com/domains/greatgrubclub.com/local/media/images/medium/4_1_1_beetroot.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":280,"wires":[["3ff0181b.4beea8"]]},{"id":"e2d34b2.3ebf6b8","type":"inject","z":"962686a4.cba5f8","name":"dog","topic":"","payload":"https://i.imgur.com/P25Dfmc.png","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":140,"wires":[["9db15fbd.c9927"]]},{"id":"9db15fbd.c9927","type":"visual-recognition-v3","z":"962686a4.cba5f8","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"zh-tw","x":650,"y":140,"wires":[["5a536757.e3fc68","c24e7fe8.fe7a"]]},{"id":"6c7d6800.560cc8","type":"debug","z":"962686a4.cba5f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":140,"wires":[]},{"id":"5a536757.e3fc68","type":"function","z":"962686a4.cba5f8","name":"classifiers","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":140,"wires":[["6c7d6800.560cc8"]]},{"id":"c24e7fe8.fe7a","type":"debug","z":"962686a4.cba5f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":80,"wires":[]},{"id":"ca1938a4.3ebf08","type":"inject","z":"962686a4.cba5f8","name":"food","topic":"","payload":"https://watson-developer-cloud.github.io/doc-tutorial-downloads/visual-recognition/fruitbowl.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":80,"wires":[["9db15fbd.c9927"]]},{"id":"a72bf95f.524818","type":"visual-recognition-v3","z":"962686a4.cba5f8","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"zh-tw","x":650,"y":500,"wires":[["64a3db82.a9d5c4","28f4ce0.78e7d32"]]},{"id":"28f4ce0.78e7d32","type":"function","z":"962686a4.cba5f8","name":"classfiers","func":"// var iclass=msg.result.images[0].classifiers[0].classes[0].class; \n// var iscore=msg.result.images[0].classifiers[0].classes[0].score.toString(); \n// msg.classifiers = iclass+\":\"+iscore;\n\n// msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":500,"wires":[["ad4b2919.bebf48"]]},{"id":"64a3db82.a9d5c4","type":"debug","z":"962686a4.cba5f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":560,"wires":[]},{"id":"14c24ce6.c90f13","type":"debug","z":"962686a4.cba5f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":460,"wires":[]},{"id":"62f36625.c29f78","type":"http in","z":"962686a4.cba5f8","name":"","url":"/uploadpic","method":"get","upload":false,"swaggerDoc":"","x":120,"y":640,"wires":[["debacf8.a78eb3"]]},{"id":"debacf8.a78eb3","type":"template","z":"962686a4.cba5f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Upload a file here:</h1>\n\n<form action=\"/uploadpic_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":290,"y":640,"wires":[["9c086be6.852508"]]},{"id":"9c086be6.852508","type":"http response","z":"962686a4.cba5f8","name":"","x":450,"y":640,"wires":[]},{"id":"e07ad8e3.523368","type":"debug","z":"962686a4.cba5f8","name":"","active":false,"tosidebar":true,"console":false,"complete":"req.files","x":370,"y":700,"wires":[]},{"id":"36f9d695.dfbd4a","type":"comment","z":"962686a4.cba5f8","name":"Simple file upload example","info":"http://localhost:1880/upload","x":150,"y":600,"wires":[]},{"id":"3d475dd8.4b2a72","type":"http in","z":"962686a4.cba5f8","name":"","url":"/uploadpic_post","method":"post","upload":true,"swaggerDoc":"","x":140,"y":760,"wires":[["e07ad8e3.523368","70f7e2f7.21e0dc"]]},{"id":"70f7e2f7.21e0dc","type":"change","z":"962686a4.cba5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":760,"wires":[["a72bf95f.524818"]]},{"id":"79c50869.715e08","type":"http response","z":"962686a4.cba5f8","name":"","statusCode":"","headers":{},"x":1350,"y":540,"wires":[]},{"id":"583834a2.bd7d3c","type":"template","z":"962686a4.cba5f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>File uploaded !</p>\n\n<hr>\n\n<pre>\n{{{payload}}}\n</pre>","output":"str","x":1200,"y":540,"wires":[["79c50869.715e08"]]},{"id":"ad4b2919.bebf48","type":"function","z":"962686a4.cba5f8","name":"merge image","func":"var classifiers=\"\".concat(\"<H2>\",msg.classifiers,\"<H2>\");\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\" width=\"50%\" height=\"50%\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\nmsg.payload=classifiers+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":500,"wires":[["14c24ce6.c90f13","583834a2.bd7d3c"]]},{"id":"30597ed.eadbe82","type":"comment","z":"962686a4.cba5f8","name":"練習-做一個圖片辨視API","info":"var sayword=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\nfor(var i=0;i<tones.length;i++){\n    text += tones[i].tone_id + \":\" + (tones[i].score*100).toString().split(\".\")[0] + \"%,\";\n}\n\ntext = text.slice(0,text.length-1);\n\nmsg.payload={};\nmsg.payload.sayword=sayword;\nmsg.payload.analyzer = text;\n\nreturn msg;","x":130,"y":220,"wires":[]},{"id":"80291a5d.4fbdf8","type":"comment","z":"962686a4.cba5f8","name":"練習-做一個可上傳圖片的辨視API","info":"var sayword=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\nfor(var i=0;i<tones.length;i++){\n    text += tones[i].tone_id + \":\" + (tones[i].score*100).toString().split(\".\")[0] + \"%,\";\n}\n\ntext = text.slice(0,text.length-1);\n\nmsg.payload={};\nmsg.payload.sayword=sayword;\nmsg.payload.analyzer = text;\n\nreturn msg;","x":150,"y":500,"wires":[]}]