Lab1/01NodeRedCommon/Common.json
[{"id":"aa362498.bcae08","type":"tab","label":"local常用元件說明","disabled":false,"info":""},{"id":"62c43509.e863dc","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"9c01b2e1.fa6e5","type":"tab","label":"ChatRoom","disabled":false,"info":""},{"id":"31466550.eb909a","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"},{"id":"9a45d3e6.d4372","type":"http in","z":"aa362498.bcae08","name":"","url":"/hi","method":"get","upload":false,"swaggerDoc":"","x":70,"y":380,"wires":[[]]},{"id":"6ccd8a1c.d89dd4","type":"function","z":"aa362498.bcae08","name":"","func":"msg.payload=\"hello OO\";\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":200,"wires":[[]]},{"id":"42ab7169.03fc2","type":"template","z":"aa362498.bcae08","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"this is template...\n<p>HI</p>\n<p>This is the payload</p>\n<table border=1>\n<tr><td>hello</td></tr>\n<tr><td>This is the payload: {{payload}}</td></tr>\n</table>","output":"str","x":280,"y":200,"wires":[[]]},{"id":"d42771f4.af13d","type":"exec","z":"aa362498.bcae08","command":"ls -al","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":270,"y":280,"wires":[[],[],[]]},{"id":"82a83d91.65352","type":"inject","z":"aa362498.bcae08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":40,"wires":[[]]},{"id":"74eecae2.fdf0c4","type":"http response","z":"aa362498.bcae08","name":"","statusCode":"","headers":{},"x":470,"y":380,"wires":[]},{"id":"5f29c753.7f6c68","type":"delay","z":"aa362498.bcae08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":80,"y":280,"wires":[[]]},{"id":"8b0f5542.058aa8","type":"comment","z":"aa362498.bcae08","name":"","info":"template\n<p>This is the payload</p>\n<table border=1>\n    <tr><td>title</td></tr>\n    <tr><td>{{payload}}</td></tr>\n</table>\n","x":280,"y":120,"wires":[]},{"id":"c2d85c2e.3a6fb","type":"html","z":"aa362498.bcae08","name":"paser html","property":"payload","outproperty":"payload","tag":"td","ret":"html","as":"single","x":290,"y":380,"wires":[[]]},{"id":"3c36a2ec.86e80e","type":"debug","z":"aa362498.bcae08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":40,"wires":[]},{"id":"68ce512c.d8d2d","type":"template","z":"aa362498.bcae08","d":true,"name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p>This is the payload</p>\n<table border=1>\n    <tr><td>title</td></tr>\n    <tr><td>{{payload}}</td></tr>\n</table>\n","output":"str","x":480,"y":200,"wires":[[]]},{"id":"5a50937b.b833fc","type":"comment","z":"9c01b2e1.fa6e5","name":"chat room page","info":"delete msg._session;\nreturn msg;\n<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":120,"y":100,"wires":[]},{"id":"c0629bda.2604b8","type":"function","z":"9c01b2e1.fa6e5","name":"","func":"delete msg._session;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["378c5aca.83a306"]]},{"id":"6ac045e2.79408c","type":"template","z":"9c01b2e1.fa6e5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"wss://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","output":"str","x":340,"y":340,"wires":[["7cac238f.03828c"]]},{"id":"d12c2cf7.4c22d","type":"http in","z":"9c01b2e1.fa6e5","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["6ac045e2.79408c"]]},{"id":"7cac238f.03828c","type":"http response","z":"9c01b2e1.fa6e5","name":"","statusCode":"","headers":{},"x":530,"y":340,"wires":[]},{"id":"fa1304af.2ca708","type":"comment","z":"aa362498.bcae08","name":"我是註解","info":"wwww","x":80,"y":120,"wires":[]},{"id":"d7c19ea3.26342","type":"debug","z":"9c01b2e1.fa6e5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":100,"wires":[]},{"id":"4d6c3e18.a7029","type":"websocket in","z":"9c01b2e1.fa6e5","name":"","server":"31466550.eb909a","client":"","x":130,"y":240,"wires":[["c0629bda.2604b8"]]},{"id":"378c5aca.83a306","type":"websocket out","z":"9c01b2e1.fa6e5","name":"","server":"31466550.eb909a","client":"","x":540,"y":240,"wires":[]},{"id":"adc052ba.beef6","type":"inject","z":"62c43509.e863dc","name":"","topic":"","payload":"Hello World !","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["4bc28f0a.415b9"]]},{"id":"4bc28f0a.415b9","type":"debug","z":"62c43509.e863dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":100,"wires":[]},{"id":"29550f9f.85ed6","type":"http in","z":"62c43509.e863dc","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":260,"wires":[["ba95ac41.5fb5"]]},{"id":"b34dcba4.01a718","type":"template","z":"62c43509.e863dc","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"this is {{payload}}","output":"str","x":530,"y":260,"wires":[["476ec2a9.84842c"]]},{"id":"ba95ac41.5fb5","type":"function","z":"62c43509.e863dc","name":"hello world","func":"msg.payload=\"hello world!\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["b34dcba4.01a718"]]},{"id":"ce5ac18f.36ea9","type":"function","z":"62c43509.e863dc","name":"get name","func":"var ename=msg.payload[\"ename\"]|| \"guest\";\nvar cname=msg.payload[\"cname\"]|| \"guest\";\nvar tm=\"\".concat(ename,\"-\",cname,\"早上好\");\nmsg.payload=tm;\nreturn msg;\n\n\n// var name=msg.payload[\"name\"];\n// msg.payload=name+\"早上好\";\n// return msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["32f0e06d.9207"]]},{"id":"1cb4eed1.dabda1","type":"comment","z":"62c43509.e863dc","name":"hello & debug","info":"","x":110,"y":40,"wires":[]},{"id":"25694bef.e8b234","type":"comment","z":"62c43509.e863dc","name":"create api server","info":"","x":120,"y":200,"wires":[]},{"id":"21fbd231.2adbfe","type":"comment","z":"62c43509.e863dc","name":"paser api request","info":"var ename=msg.payload[\"ename\"]|| \"guest\";\nvar cname=msg.payload[\"cname\"]|| \"guest\";\nvar tm=\"\".concat(ename,\"/\",cname,\"早上好\");\nmsg.payload=tm;\nreturn msg;\n\n\nhttps://andylabdemo.us-south.cf.appdomain.cloud/getname?name=bb\n\nhttps://andylabdemo.us-south.cf.appdomain.cloud/getname?ename=andy&cname=咆嗚","x":120,"y":380,"wires":[]},{"id":"32f0e06d.9207","type":"http response","z":"62c43509.e863dc","name":"","statusCode":"","headers":{},"x":530,"y":440,"wires":[]},{"id":"476ec2a9.84842c","type":"http response","z":"62c43509.e863dc","name":"","statusCode":"","headers":{},"x":710,"y":260,"wires":[]},{"id":"4e824476.ea368c","type":"comment","z":"62c43509.e863dc","name":"練習-回應式API","info":"var ename=msg.payload[\"ename\"]|| \"guest\";\nvar cname=msg.payload[\"cname\"]|| \"guest\";\nvar tm=\"\".concat(ename,\"/\",cname,\"早上好\");\nmsg.payload=tm;\nreturn msg;","x":120,"y":540,"wires":[]},{"id":"b99fa161.2ca71","type":"http in","z":"62c43509.e863dc","name":"","url":"/ladisi","method":"get","upload":false,"swaggerDoc":"","x":100,"y":600,"wires":[["ef6b3830.fde1c8"]]},{"id":"ef6b3830.fde1c8","type":"function","z":"62c43509.e863dc","name":"get input","func":"var expr=msg.payload[\"input\"];\nvar rexrp=\"\";\nswitch (expr.toLowerCase()) {\n  case '身高':\n      expr='和大樹一樣高'\n    break;\n  case '姓別':\n      expr='石屬性'\n    break;  \n  case 'line':\n      expr='不好說'\n    break;\n  default:\n      expr='Sorry, Out of memory';\n}\nmsg.payload=expr;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":600,"wires":[["29054a9.c73d1b6"]]},{"id":"29054a9.c73d1b6","type":"http response","z":"62c43509.e863dc","name":"","statusCode":"","headers":{},"x":530,"y":600,"wires":[]},{"id":"5f372a3b.8d98a4","type":"http in","z":"62c43509.e863dc","name":"","url":"/getname","method":"get","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["ce5ac18f.36ea9"]]},{"id":"9975533.e5c9cb","type":"comment","z":"62c43509.e863dc","name":"捉2個傳入參數","info":"\n原網址\n\nhttps://andylabdemo.us-south.cf.appdomain.cloud/getname?name=bb\n\n網址:\nhttps://andylabdemo.us-south.cf.appdomain.cloud/getname?ename=andy&cname=咆嗚","x":340,"y":380,"wires":[]},{"id":"27cc6a3d.765886","type":"comment","z":"62c43509.e863dc","name":"問答api","info":"\n測試網址:\n\nhttps://andylabdemo.us-south.cf.appdomain.cloud/ladisi?input=身高","x":310,"y":540,"wires":[]}]