Lab1/01NodeRedCommon/Common.json
[{"id":"aa362498.bcae08","type":"tab","label":"local常用元件說明","disabled":false,"info":""},{"id":"46fcd80e.cf5698","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"9c01b2e1.fa6e5","type":"tab","label":"ChatRoom","disabled":false,"info":""},{"id":"31444dd8.415072","type":"tab","label":"Google訂餐統計","disabled":false,"info":""},{"id":"31466550.eb909a","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"},{"id":"9a45d3e6.d4372","type":"http in","z":"aa362498.bcae08","name":"","url":"/hi","method":"get","upload":false,"swaggerDoc":"","x":70,"y":380,"wires":[[]]},{"id":"6ccd8a1c.d89dd4","type":"function","z":"aa362498.bcae08","name":"","func":"msg.payload=\"hello bowwow\";\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":200,"wires":[[]]},{"id":"42ab7169.03fc2","type":"template","z":"aa362498.bcae08","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"this is template...\n<p>HI</p>\n<p>This is the payload</p>\n<table border=1>\n<tr><td>hello</td></tr>\n<tr><td>This is the payload: {{payload}}</td></tr>\n</table>","output":"str","x":280,"y":200,"wires":[[]]},{"id":"d42771f4.af13d","type":"exec","z":"aa362498.bcae08","command":"ls -al","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":270,"y":280,"wires":[[],[],[]]},{"id":"82a83d91.65352","type":"inject","z":"aa362498.bcae08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":40,"wires":[[]]},{"id":"74eecae2.fdf0c4","type":"http response","z":"aa362498.bcae08","name":"","statusCode":"","headers":{},"x":470,"y":380,"wires":[]},{"id":"5f29c753.7f6c68","type":"delay","z":"aa362498.bcae08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":80,"y":280,"wires":[[]]},{"id":"8b0f5542.058aa8","type":"comment","z":"aa362498.bcae08","name":"","info":"template\n<p>This is the payload</p>\n<table border=1>\n    <tr><td>title</td></tr>\n    <tr><td>{{payload}}</td></tr>\n</table>\n","x":280,"y":120,"wires":[]},{"id":"c2d85c2e.3a6fb","type":"html","z":"aa362498.bcae08","name":"paser html","property":"payload","outproperty":"payload","tag":"td","ret":"html","as":"single","x":290,"y":380,"wires":[[]]},{"id":"3c36a2ec.86e80e","type":"debug","z":"aa362498.bcae08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":40,"wires":[]},{"id":"68ce512c.d8d2d","type":"template","z":"aa362498.bcae08","d":true,"name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p>This is the payload</p>\n<table border=1>\n    <tr><td>title</td></tr>\n    <tr><td>{{payload}}</td></tr>\n</table>\n","output":"str","x":480,"y":200,"wires":[[]]},{"id":"4a33243e.4dc80c","type":"inject","z":"46fcd80e.cf5698","name":"","topic":"","payload":"Hello World !","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["65f9b28e.a3b42c"]]},{"id":"65f9b28e.a3b42c","type":"debug","z":"46fcd80e.cf5698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":100,"wires":[]},{"id":"e33c4f9a.0a615","type":"http in","z":"46fcd80e.cf5698","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":260,"wires":[[]]},{"id":"f5f7fce6.6e8d5","type":"template","z":"46fcd80e.cf5698","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"this is {{payload}}","output":"str","x":320,"y":320,"wires":[[]]},{"id":"10c9c20c.f42a8e","type":"function","z":"46fcd80e.cf5698","name":"","func":"msg.payload=\"hello world!\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[[]]},{"id":"939d50ed.b29be","type":"function","z":"46fcd80e.cf5698","name":"get name","func":"var name=msg.payload[\"name\"];\nmsg.payload=name+\"早上好\";\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":440,"wires":[[]]},{"id":"986c4436.d8c268","type":"comment","z":"46fcd80e.cf5698","name":"hello & debug","info":"","x":110,"y":40,"wires":[]},{"id":"9c135330.2871","type":"comment","z":"46fcd80e.cf5698","name":"create api server","info":"","x":120,"y":200,"wires":[]},{"id":"288fea5a.b96ec6","type":"comment","z":"46fcd80e.cf5698","name":"paser api request","info":"var ename=msg.payload[\"ename\"]|| \"guest\";\nvar cname=msg.payload[\"cname\"]|| \"guest\";\nvar tm=\"\".concat(ename,\"/\",cname,\"早上好\");\nmsg.payload=tm;\nreturn msg;","x":120,"y":380,"wires":[]},{"id":"7f876f96.b791d","type":"http response","z":"46fcd80e.cf5698","name":"","statusCode":"","headers":{},"x":510,"y":440,"wires":[]},{"id":"f6142542.4301f8","type":"http response","z":"46fcd80e.cf5698","name":"","statusCode":"","headers":{},"x":510,"y":260,"wires":[]},{"id":"1538c53a.425d6b","type":"comment","z":"46fcd80e.cf5698","name":"練習-回應式API","info":"","x":120,"y":560,"wires":[]},{"id":"4e04335b.03412c","type":"http in","z":"46fcd80e.cf5698","name":"","url":"/ladisi","method":"get","upload":false,"swaggerDoc":"","x":100,"y":620,"wires":[[]]},{"id":"91188f94.b7906","type":"function","z":"46fcd80e.cf5698","name":"get input","func":"return msg;","outputs":1,"noerr":0,"x":300,"y":620,"wires":[[]]},{"id":"76c12d54.453b34","type":"http response","z":"46fcd80e.cf5698","name":"","statusCode":"","headers":{},"x":510,"y":620,"wires":[]},{"id":"5a50937b.b833fc","type":"comment","z":"9c01b2e1.fa6e5","name":"chat room page","info":"delete msg._session;\nreturn msg;\n<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":120,"y":100,"wires":[]},{"id":"c0629bda.2604b8","type":"function","z":"9c01b2e1.fa6e5","name":"","func":"delete msg._session;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[[]]},{"id":"6ac045e2.79408c","type":"template","z":"9c01b2e1.fa6e5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"wss://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","output":"str","x":340,"y":340,"wires":[["7cac238f.03828c"]]},{"id":"d12c2cf7.4c22d","type":"http in","z":"9c01b2e1.fa6e5","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["6ac045e2.79408c"]]},{"id":"7cac238f.03828c","type":"http response","z":"9c01b2e1.fa6e5","name":"","statusCode":"","headers":{},"x":530,"y":340,"wires":[]},{"id":"fa1304af.2ca708","type":"comment","z":"aa362498.bcae08","name":"我是註解","info":"wwww","x":80,"y":120,"wires":[]},{"id":"d7c19ea3.26342","type":"debug","z":"9c01b2e1.fa6e5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":100,"wires":[]},{"id":"770b2cb6.3c3594","type":"inject","z":"31444dd8.415072","name":"CSV data in","topic":"","payload":"name1=大,name2=中,name3=蛋花湯,name4=紅茶","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":160,"wires":[["e09f8680.ca2a48","b382e944.1dbed8"]]},{"id":"e09f8680.ca2a48","type":"function","z":"31444dd8.415072","name":"Parser","func":"//splits the data\n\nvar data = msg.payload.split(\",\");\n\nmsg.payload = {}; //null msg obj and create new properties\nmsg.payload.name1 = data[0].split(\"=\")[1];\nmsg.payload.name2 = data[1].split(\"=\")[1];\nmsg.payload.name3 = data[2].split(\"=\")[1];\nmsg.payload.name4 = data[3].split(\"=\")[1];\n\nmsg.s1=encodeURIComponent(msg.payload.name1);\nmsg.s2=encodeURIComponent(msg.payload.name2);\nmsg.s3=encodeURIComponent(msg.payload.name3);\nmsg.s4=encodeURIComponent(msg.payload.name4);\nreturn msg; ","outputs":1,"noerr":0,"x":377,"y":159.99998474121094,"wires":[["74ce0a5.110b6f4","f4a84fe9.bd4c9"]]},{"id":"b02ca44f.c05e68","type":"comment","z":"31444dd8.415072","name":"POST URL","info":"https://docs.google.com/forms/d/1fGF3OJCbjZZYUnYz42ePG-wzHJZT9dFShvtKftBmREw/edit#responses\n\nhttps://docs.google.com/forms/d/e/1FAIpQLSczyljASWyR4UBFbtSTkO7L7hWrj1wiUnHTRauwGpb1DcTJ0Q/viewform?usp=pp_url&entry.790861605=%E4%B8%AD&entry.2016812503=%E4%B8%AD&entry.1460530561=%E8%B2%A2%E4%B8%B8%E6%B9%AF&entry.423134962=%E7%B4%85%E8%8C%B6\n\nhttps://docs.google.com/forms/d/e/1FAIpQLSczyljASWyR4UBFbtSTkO7L7hWrj1wiUnHTRauwGpb1DcTJ0Q/viewform?usp=pp_url&entry.790861605=中&entry.2016812503=中&entry.1460530561=貢丸湯&entry.423134962=紅茶\n\n\nhttps://docs.google.com/forms/d/e/1FAIpQLSczyljASWyR4UBFbtSTkO7L7hWrj1wiUnHTRauwGpb1DcTJ0Q/formResponse?entry.790861605={{s1}}&entry.2016812503={{s2}}&entry.1460530561={{s3}}&entry.423134962={{s4}}","x":564,"y":90,"wires":[]},{"id":"b05c11c2.2ddae","type":"debug","z":"31444dd8.415072","name":"","active":false,"console":false,"complete":"true","x":744.8333129882812,"y":159.83331298828125,"wires":[]},{"id":"f4a84fe9.bd4c9","type":"http request","z":"31444dd8.415072","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://docs.google.com/forms/d/e/1FAIpQLSczyljASWyR4UBFbtSTkO7L7hWrj1wiUnHTRauwGpb1DcTJ0Q/formResponse?entry.790861605={{s1}}&entry.2016812503={{s2}}&entry.1460530561={{s3}}&entry.423134962={{s4}}","tls":"","persist":false,"proxy":"","authType":"","x":578.0833129882812,"y":160.08331298828125,"wires":[["b05c11c2.2ddae"]]},{"id":"e6c20f44.86244","type":"comment","z":"31444dd8.415072","name":"Source","info":"Be it serial or any other data source. ","x":110,"y":80,"wires":[]},{"id":"b382e944.1dbed8","type":"debug","z":"31444dd8.415072","name":"","active":false,"console":false,"complete":false,"x":392,"y":260.0833282470703,"wires":[]},{"id":"74ce0a5.110b6f4","type":"debug","z":"31444dd8.415072","name":"","active":false,"console":false,"complete":"true","x":561.5,"y":256.0833282470703,"wires":[]}]