Lab1/03ＷastonToneAnalyzer/ToneAnalyzer.json
[{"id":"c6c4650d.019858","type":"tab","label":"watson語意分析","disabled":false,"info":""},{"id":"d5bdea26.97ecf8","type":"inject","z":"c6c4650d.019858","name":"","topic":"","payload":"We will win big!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["5c9065a0.625f8c"]]},{"id":"5c9065a0.625f8c","type":"watson-tone-analyzer-v3","z":"c6c4650d.019858","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":380,"y":200,"wires":[["8f425f11.554c","3669fd2a.18b5b2"]]},{"id":"ab82b08.210845","type":"comment","z":"c6c4650d.019858","name":"練習-做一個分析語意的API服務","info":"var sayword=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\nfor(var i=0;i<tones.length;i++){\n    text += tones[i].tone_id + \":\" + (tones[i].score*100).toString().split(\".\")[0] + \"%,\";\n}\n\ntext = text.slice(0,text.length-1);\n\nmsg.payload={};\nmsg.payload.sayword=sayword;\nmsg.payload.analyzer = text;\n\nreturn msg;","x":190,"y":560,"wires":[]},{"id":"167d4af.9dfa6b5","type":"http in","z":"c6c4650d.019858","name":"","url":"/get_tone","method":"get","upload":false,"swaggerDoc":"","x":130,"y":640,"wires":[["2fe74049.418cd"]]},{"id":"2fe74049.418cd","type":"function","z":"c6c4650d.019858","name":"get text","func":"var text = msg.payload[\"text\"];\nmsg.payload = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":640,"wires":[["74e4ce9b.66017"]]},{"id":"c1154bdf.6a7b98","type":"http response","z":"c6c4650d.019858","name":"","statusCode":"","headers":{},"x":1070,"y":640,"wires":[]},{"id":"c6255051.e833c","type":"template","z":"c6c4650d.019858","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p>source word:</p>\n <div>{{payload.word}}</div>\n\n<p>analyzer:</p> \n <div>{{payload.analyzer}} </div>","output":"str","x":900,"y":640,"wires":[["c1154bdf.6a7b98"]]},{"id":"8f425f11.554c","type":"function","z":"c6c4650d.019858","name":"","func":"var word=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\ntones.forEach(function(item) {\n  text=text.concat(item.tone_name,\":\",item.score.toFixed(3).toString(),\" \")\n});\n\nmsg.payload={};\nmsg.payload.word=word;\nmsg.payload.analyzer = text.trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["ad2e7fc8.e579b"]]},{"id":"ad2e7fc8.e579b","type":"debug","z":"c6c4650d.019858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":200,"wires":[]},{"id":"fe05c5c.08fad38","type":"function","z":"c6c4650d.019858","name":"paser analyzer object","func":"var word=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\ntones.forEach(function(item) {\n  text=text.concat(item.tone_name,\":\",(item.score*100).toFixed(2).toString(),\"% \")\n});\n\nmsg.payload={};\nmsg.payload.word=word;\nmsg.payload.analyzer = text.trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":640,"wires":[["c6255051.e833c"]]},{"id":"3669fd2a.18b5b2","type":"debug","z":"c6c4650d.019858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":100,"wires":[]},{"id":"74e4ce9b.66017","type":"watson-tone-analyzer-v3","z":"c6c4650d.019858","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":460,"y":640,"wires":[["fe05c5c.08fad38"]]},{"id":"a4634dce.385af","type":"comment","z":"c6c4650d.019858","name":"Tone Analyzer","info":"https://twitter.com/trump_chinese/media","x":130,"y":100,"wires":[]},{"id":"2dd561fb.77401e","type":"comment","z":"c6c4650d.019858","name":"測試網址","info":"https://andylabdemo.us-south.cf.appdomain.cloud/get_tone?text=We%20will%20win%20big!","x":420,"y":560,"wires":[]}]