Lab1/03ＷastonToneAnalyzer/ToneAnalyzer.json
[{"id":"63d5c67a.6ba668","type":"tab","label":"watson語意分析","disabled":false,"info":""},{"id":"63eac4ee.63860c","type":"inject","z":"63d5c67a.6ba668","name":"","topic":"","payload":"We will win big!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["501578a1.04dee8"]]},{"id":"501578a1.04dee8","type":"watson-tone-analyzer-v3","z":"63d5c67a.6ba668","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":380,"y":200,"wires":[["212a148e.163b1c","9d8524d0.28b518"]]},{"id":"8c80e17f.7208d","type":"comment","z":"63d5c67a.6ba668","name":"練習-做一個分析語意的API服務","info":"var sayword=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\nfor(var i=0;i<tones.length;i++){\n    text += tones[i].tone_id + \":\" + (tones[i].score*100).toString().split(\".\")[0] + \"%,\";\n}\n\ntext = text.slice(0,text.length-1);\n\nmsg.payload={};\nmsg.payload.sayword=sayword;\nmsg.payload.analyzer = text;\n\nreturn msg;","x":190,"y":560,"wires":[]},{"id":"8b3ff8af.c8de38","type":"http in","z":"63d5c67a.6ba668","name":"","url":"/get_tone","method":"get","upload":false,"swaggerDoc":"","x":130,"y":640,"wires":[["e67e25c3.9c01a8"]]},{"id":"e67e25c3.9c01a8","type":"function","z":"63d5c67a.6ba668","name":"","func":"var text = msg.payload[\"text\"];\nmsg.payload = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":640,"wires":[["63f9ffe1.67d4e"]]},{"id":"78262d6.7f8fdd4","type":"http response","z":"63d5c67a.6ba668","name":"","statusCode":"","headers":{},"x":950,"y":640,"wires":[]},{"id":"6033f704.3f4dd8","type":"template","z":"63d5c67a.6ba668","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p>source word:</p>\n <div>{{payload.word}}</div>\n\n<p>analyzer:</p> \n <div>{{payload.analyzer}} </div>","output":"str","x":780,"y":640,"wires":[["78262d6.7f8fdd4"]]},{"id":"212a148e.163b1c","type":"function","z":"63d5c67a.6ba668","name":"","func":"var word=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\n// tones.forEach(function(item) {\n//   text=text.concat(item.tone_name,\":\",item.score.toFixed(3).toString(),\" \")\n// });\n\nmsg.payload={};\nmsg.payload.word=word;\nmsg.payload.analyzer = text.trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["f47f316a.d9659"]]},{"id":"f47f316a.d9659","type":"debug","z":"63d5c67a.6ba668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":200,"wires":[]},{"id":"e1975b7.8a5c0a8","type":"function","z":"63d5c67a.6ba668","name":"","func":"var word=msg.payload;\nvar response = msg.response;\nvar tones = response.document_tone.tone_categories[0].tones;\nvar text = \"\";\n\n// tones.forEach(function(item) {\n//   text=text.concat(item.tone_name,\":\",(item.score*100).toFixed(2).toString(),\"% \")\n// });\n\nmsg.payload={};\nmsg.payload.word=word;\nmsg.payload.analyzer = text.trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":640,"wires":[["6033f704.3f4dd8"]]},{"id":"9d8524d0.28b518","type":"debug","z":"63d5c67a.6ba668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":100,"wires":[]},{"id":"63f9ffe1.67d4e","type":"watson-tone-analyzer-v3","z":"63d5c67a.6ba668","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":460,"y":640,"wires":[["e1975b7.8a5c0a8"]]},{"id":"1969e3cf.11259c","type":"comment","z":"63d5c67a.6ba668","name":"Tone Analyzer","info":"https://twitter.com/trump_chinese/media","x":130,"y":100,"wires":[]}]