Lab2/06WastonDiscovery/Discovery.json
[{"id":"e9d708bd.4d7308","type":"tab","label":"watson Discovery","disabled":false,"info":""},{"id":"568ab909.bf4918","type":"debug","z":"e9d708bd.4d7308","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":200,"wires":[]},{"id":"b7917611.e19eb8","type":"comment","z":"e9d708bd.4d7308","name":"Discovery API(分析最近pokemon新聞)","info":"","x":170,"y":520,"wires":[]},{"id":"b0bbcea3.90266","type":"http response","z":"e9d708bd.4d7308","name":"","statusCode":"","headers":{},"x":990,"y":660,"wires":[]},{"id":"9f13a930.d310c8","type":"http in","z":"e9d708bd.4d7308","name":"","url":"/dis01","method":"get","upload":false,"swaggerDoc":"","x":80,"y":620,"wires":[["48a7d1d.6663e3"]]},{"id":"51c7e56.62ffe1c","type":"function","z":"e9d708bd.4d7308","name":"","func":"msg.payload = msg.search_results.aggregations[0].results;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":580,"wires":[["3bac9144.0a69ae","b0bbcea3.90266"]]},{"id":"3bac9144.0a69ae","type":"debug","z":"e9d708bd.4d7308","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":480,"wires":[]},{"id":"97c3f753.4e4a28","type":"function","z":"e9d708bd.4d7308","d":true,"name":"","func":"var userInput = msg.payload;\nvar qtstr= userInput[\"text\"];\nmsg.discoveryparams={};\nmsg.discoveryparams.query=\"pokemon\";\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":580,"wires":[[]]},{"id":"b8ff0229.67655","type":"debug","z":"e9d708bd.4d7308","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":480,"wires":[]},{"id":"852a8554.a7a4a8","type":"watson-discovery-v1","z":"e9d708bd.4d7308","name":"","environmentname":"","environment_id":"system","collection_id":"news-en","configurationname":"","configuration_id":"","language_code":"en","collection_name":"","count":"2","passages":true,"nlp_query":true,"query":"pokemon","filter":"","aggregation":"term(text)","return":"text,website","description":"","size":"LT","discovery-method":"query","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/discovery/api","x":700,"y":580,"wires":[["51c7e56.62ffe1c"]]},{"id":"b82e710c.3fa3","type":"inject","z":"e9d708bd.4d7308","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":200,"wires":[["b1ba9719.cb4138"]]},{"id":"b1ba9719.cb4138","type":"watson-discovery-v1","z":"e9d708bd.4d7308","name":"","environmentname":"","environment_id":"system","collection_id":"news-en","configurationname":"","configuration_id":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"小英","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/discovery/api","x":440,"y":200,"wires":[["568ab909.bf4918"]]},{"id":"3b05d865.e76f48","type":"change","z":"e9d708bd.4d7308","name":"","rules":[{"t":"set","p":"discoveryparams.query","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[["b8ff0229.67655","852a8554.a7a4a8"]]},{"id":"48a7d1d.6663e3","type":"switch","z":"e9d708bd.4d7308","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":620,"wires":[["3b05d865.e76f48"],["971a9751.934138"]]},{"id":"971a9751.934138","type":"change","z":"e9d708bd.4d7308","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"你沒輸入搜尋字串喔","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":660,"wires":[["b0bbcea3.90266"]]},{"id":"7fa9f24a.ef738c","type":"comment","z":"e9d708bd.4d7308","name":" 測試網址","info":"https://andylabdemo.us-south.cf.appdomain.cloud/dis01?text=pokemon","x":80,"y":580,"wires":[]}]