Lab2/02WatsonAssistantLineBot/LinbotV2.json
[{"id":"de1150b5.4277c","type":"tab","label":"AssistantLinebotV2","disabled":false,"info":""},{"id":"ac2edfa3.7fe8d","type":"http in","z":"de1150b5.4277c","name":"line_hook Webhooks","url":"/line_hook","method":"post","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["6b14aa32.eb2374"]]},{"id":"6b14aa32.eb2374","type":"function","z":"de1150b5.4277c","name":"getText","func":"\nflow.set(\"replyToken\",msg.payload.events[0].replyToken);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["24e77a22.96ced6","c5ad330e.353aa"]]},{"id":"24e77a22.96ced6","type":"http response","z":"de1150b5.4277c","name":"","x":470,"y":100,"wires":[]},{"id":"20101ab8.928876","type":"http request","z":"de1150b5.4277c","name":"Reply Message","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.line.me/v2/bot/message/reply","tls":"","persist":false,"proxy":"","authType":"","x":1340,"y":220,"wires":[["fdc4a8c1.3cb868"]]},{"id":"dbaf8fbe.d62b2","type":"function","z":"de1150b5.4277c","name":"createReplyMessage","func":"\nvar output_text = flow.get(\"text\");\n\nvar post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"xx\"\n    },\n    \"payload\": {\n        //\"replyToken\": msg.payload.events[0].replyToken,\n        \"replyToken\": flow.get(\"replyToken\"),\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": msg.payload.output.generic[0].text\n            }\n        ]\n    }\n};\n\nreturn post_request;","outputs":1,"noerr":0,"x":1540,"y":340,"wires":[["20101ab8.928876"]]},{"id":"71e4ed72.2d26a4","type":"change","z":"de1150b5.4277c","name":"Watson","rules":[{"t":"set","p":"payload.optext","pt":"msg","to":"payload.output.text.0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":340,"wires":[["dbaf8fbe.d62b2"]]},{"id":"c5ad330e.353aa","type":"change","z":"de1150b5.4277c","name":"Watson","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.events.0.message.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":220,"wires":[["c7d31e7.b4b8ee"]]},{"id":"999fce5c.12f49","type":"watson-assistant-v2","z":"de1150b5.4277c","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"4317acbd-27c1-4498-9a10-d014ac94621e","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":1070,"y":340,"wires":[["71e4ed72.2d26a4"]]},{"id":"655c0639.e01e98","type":"function","z":"de1150b5.4277c","name":"CheckImgUrl","func":"function isPicUrl (url) {\n return /^https?:\\/\\/.*(\\.png|\\.jpg|\\.jpeg|\\.gif)$/.test(url)\n}\n \nvar text=msg.payload;\nvar recognition = false;\n\nif (isPicUrl(text)){\n    recognition=true\n}\n\nvar out = {\n    'text': text,\n    'recognition': recognition\n};\n\nmsg.payload=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":140,"wires":[["a3a9068c.141338"]]},{"id":"a3a9068c.141338","type":"switch","z":"de1150b5.4277c","name":"","property":"payload.recognition","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":80,"wires":[["d81ce985.039888"],["4647024f.5d61fc"]]},{"id":"7ca23cc3.afa244","type":"visual-recognition-v3","z":"de1150b5.4277c","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"zh-tw","x":1390,"y":40,"wires":[["57d53e7.267d6c"]]},{"id":"57d53e7.267d6c","type":"function","z":"de1150b5.4277c","name":"classifiers","func":"let iclass=msg.result.images[0].classifiers[0].classes[0].class; \nlet iscore=msg.result.images[0].classifiers[0].classes[0].score.toString(); \nvar info=\"\".concat(iclass,\":\",(iscore*100).toFixed(1).toString(),\"%\");\n\nmsg.payload = info;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":140,"wires":[["aaed1fa5.3c0c8"]]},{"id":"aaed1fa5.3c0c8","type":"function","z":"de1150b5.4277c","name":"createReplyMessage","func":"\nvar output_text = flow.get(\"text\");\n\nvar post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"xx\"\n    },\n    \"payload\": {\n        //\"replyToken\": msg.payload.events[0].replyToken,\n        \"replyToken\": flow.get(\"replyToken\"),\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": msg.payload\n            }\n        ]\n    }\n};\n\nreturn post_request;","outputs":1,"noerr":0,"x":1540,"y":140,"wires":[["20101ab8.928876"]]},{"id":"4647024f.5d61fc","type":"function","z":"de1150b5.4277c","name":"send to watosn","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":140,"wires":[["999fce5c.12f49"]]},{"id":"d81ce985.039888","type":"function","z":"de1150b5.4277c","name":"send to recognition","func":"msg.payload=msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":40,"wires":[["7ca23cc3.afa244"]]},{"id":"e931ec7b.f124f","type":"comment","z":"de1150b5.4277c","name":"line verify webhook","info":"","x":90,"y":40,"wires":[]},{"id":"8323bf86.7eb77","type":"change","z":"de1150b5.4277c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"img:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["8506e754.365c88"]]},{"id":"8506e754.365c88","type":"function","z":"de1150b5.4277c","name":"","func":"var output_url =  msg.payload;\nvar post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"xx\"\n    },\n    \"payload\": {\n        \"replyToken\": flow.get(\"replyToken\"),\n        \"messages\": [\n            {\n    \"type\": \"image\",\n    \"originalContentUrl\": output_url,\n    \"previewImageUrl\": output_url\n            }\n        ]\n    }\n};\n\nreturn post_request;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["20101ab8.928876"]]},{"id":"c7d31e7.b4b8ee","type":"switch","z":"de1150b5.4277c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"predict:","vt":"str"},{"t":"cont","v":"img:","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":220,"wires":[["3ba1022d.4747ee"],["8323bf86.7eb77"],["c535cdc7.5caec"]]},{"id":"3ba1022d.4747ee","type":"change","z":"de1150b5.4277c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"predict:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":160,"wires":[["655c0639.e01e98"]]},{"id":"fdc4a8c1.3cb868","type":"debug","z":"de1150b5.4277c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1550,"y":220,"wires":[]},{"id":"c535cdc7.5caec","type":"function","z":"de1150b5.4277c","name":"send to watosn","func":"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":340,"wires":[["999fce5c.12f49"]]}]