Lab2/02WatsonAssistantLineBot/LinbotV1.json
[{"id":"23f7269f.44874a","type":"tab","label":"AssistantLinebotV1","disabled":false,"info":""},{"id":"69037d0e.4b0e84","type":"http in","z":"23f7269f.44874a","name":"LineWebhooks","url":"/line_hook","method":"post","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["7378b809.c26108","6a17a541.26417c"]]},{"id":"7378b809.c26108","type":"function","z":"23f7269f.44874a","name":"getText","func":"\nflow.set(\"replyToken\",msg.payload.events[0].replyToken);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["cc8b73ae.14eba","15241b8b.46ad04"]]},{"id":"cc8b73ae.14eba","type":"http response","z":"23f7269f.44874a","name":"","x":530,"y":100,"wires":[]},{"id":"c151b6fd.82f368","type":"http request","z":"23f7269f.44874a","name":"Reply Message","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.line.me/v2/bot/message/reply","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":400,"wires":[["ababcd3.9d3d13"]]},{"id":"9b448f2d.a154b","type":"function","z":"23f7269f.44874a","name":"ReplyMessage-pikachu","func":"var output_text = flow.get(\"text\");\nvar post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"dM6LocuehyPLrUYYGXh+PWOxt0WoDQlD4L6ujKbNse3xjArVX1Upl11vbU6KFvHA0qvKrF5wgxEBhdhMA8hZnjpD1JNjhI012p4A0azgeuFRNbneIA2XYx/BwO/6sGUKose6RjGFPX9/dvYgmNXxPwdB04t89/1O/w1cDnyilFU=\"\n    },\n    \"payload\": {\n        //\"replyToken\": msg.payload.events[0].replyToken,\n        \"replyToken\": flow.get(\"replyToken\"),\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": output_text\n            }\n        ]\n    }\n};\n\nreturn post_request;","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["c151b6fd.82f368"]]},{"id":"15241b8b.46ad04","type":"change","z":"23f7269f.44874a","name":"Watson","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.events.0.message.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["aab1adea.06693"]]},{"id":"aab1adea.06693","type":"watson-assistant-v2","z":"23f7269f.44874a","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"4317acbd-27c1-4498-9a10-d014ac94621e","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":550,"y":200,"wires":[["afa1799f.07e768","2e3d89d7.b3e126"]]},{"id":"6a17a541.26417c","type":"debug","z":"23f7269f.44874a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":200,"wires":[]},{"id":"afa1799f.07e768","type":"debug","z":"23f7269f.44874a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":200,"wires":[]},{"id":"ababcd3.9d3d13","type":"debug","z":"23f7269f.44874a","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":730,"y":400,"wires":[]},{"id":"2e3d89d7.b3e126","type":"change","z":"23f7269f.44874a","name":"Watson","rules":[{"t":"set","p":"text","pt":"flow","to":"payload.output.generic.0.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["9b448f2d.a154b"]]},{"id":"37a238fc.38da28","type":"comment","z":"23f7269f.44874a","name":"line verify webhook","info":"","x":130,"y":40,"wires":[]},{"id":"c7e9063b.889db8","type":"function","z":"23f7269f.44874a","name":"ReplyMessage-bowwow","func":"\nvar output_text = flow.get(\"text\");\n\nvar post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"xx\"\n    },\n    \"payload\": {\n        //\"replyToken\": msg.payload.events[0].replyToken,\n        \"replyToken\": flow.get(\"replyToken\"),\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": output_text\n            }\n        ]\n    }\n};\n\nreturn post_request;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[[]]},{"id":"fd31640a.4c2458","type":"function","z":"23f7269f.44874a","name":"botID","func":"\nvar output_text = flow.get(\"text\");\nvar roomid=msg.req.body.events[0].source.roomId || \"\";\nvar gids=JSON.stringify(msg.req.body.events[0].source);\n\nflow.set(\"roomid\",roomid);\nflow.set(\"text\",gids);\n\nvar post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"xx\"\n    },\n    \"payload\": {\n        //\"replyToken\": msg.payload.events[0].replyToken,\n        \"replyToken\": flow.get(\"replyToken\"),\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": gids\n            }\n        ]\n    }\n};\n\nreturn post_request;","outputs":1,"noerr":0,"x":530,"y":40,"wires":[[]]},{"id":"e563f48.2f00a08","type":"comment","z":"23f7269f.44874a","name":"退出聊天","info":"https://developers.line.biz/en/reference/messaging-api/#leave-room","x":180,"y":480,"wires":[]},{"id":"fa9429f1.741928","type":"inject","z":"23f7269f.44874a","name":"","topic":"","payload":"R7af1224c815c3522dc57522834b11221","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":540,"wires":[["b5bac50a.077938"]]},{"id":"cbf06e7e.9814b","type":"http request","z":"23f7269f.44874a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.line.me/v2/bot/room/{{{payload.roomid}}}/leave","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":540,"wires":[["d01e1f87.e993c"]]},{"id":"b5bac50a.077938","type":"function","z":"23f7269f.44874a","name":"leaveMessage","func":"\nvar post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"dM6LocuehyPLrUYYGXh+PWOxt0WoDQlD4L6ujKbNse3xjArVX1Upl11vbU6KFvHA0qvKrF5wgxEBhdhMA8hZnjpD1JNjhI012p4A0azgeuFRNbneIA2XYx/BwO/6sGUKose6RjGFPX9/dvYgmNXxPwdB04t89/1O/w1cDnyilFU=\"\n    },\n    \"payload\":{\"roomid\":flow.get(\"roomid\")}\n};\n\nreturn post_request;","outputs":1,"noerr":0,"x":380,"y":540,"wires":[["cbf06e7e.9814b"]]},{"id":"a6780bb0.bec788","type":"delay","z":"23f7269f.44874a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":480,"wires":[["b5bac50a.077938"]]},{"id":"d01e1f87.e993c","type":"debug","z":"23f7269f.44874a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":540,"wires":[]}]