Lab2/04WatsonSpeechTextDemo/SpeechText.json
[{"id":"b15ce062.a438f","type":"tab","label":"watson文字/語音","disabled":false,"info":""},{"id":"9abbdf79.8b32c","type":"http in","z":"b15ce062.a438f","name":"","url":"/talk","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["ade71f0c.52846"]]},{"id":"ade71f0c.52846","type":"change","z":"b15ce062.a438f","name":"Text to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.say","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[["72f4868b.ddc668","496f3102.dc36e"]]},{"id":"72f4868b.ddc668","type":"watson-text-to-speech","z":"b15ce062.a438f","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"","format":"audio/flac","password":"","apikey":"FvMBRIi9hD84q-KWynPrLr1KiEI8xLMYtMLGYCD461YA","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":540,"y":160,"wires":[["a0e7cb00.479208"]]},{"id":"a0e7cb00.479208","type":"change","z":"b15ce062.a438f","name":"Speech to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":160,"wires":[["be58e8d8.d94228","af2752ec.9add6"]]},{"id":"be58e8d8.d94228","type":"function","z":"b15ce062.a438f","name":"Set Headers","func":"// Set the content type to audio wave\nmsg.headers = {'Content-Type': 'audio/flac'};\n// msg.headers = {'Content-Type': 'audio/wav'};\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":160,"wires":[["675ad4f4.64986c"]]},{"id":"675ad4f4.64986c","type":"http response","z":"b15ce062.a438f","name":"","statusCode":"","headers":{},"x":1150,"y":160,"wires":[]},{"id":"af2752ec.9add6","type":"debug","z":"b15ce062.a438f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":100,"wires":[]},{"id":"496f3102.dc36e","type":"debug","z":"b15ce062.a438f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":100,"wires":[]},{"id":"364e11a0.d5b4de","type":"inject","z":"b15ce062.a438f","name":".flac URL","topic":"","payload":"https://github.com/bowwowxx/linebot/raw/master/talk.flac","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":400,"wires":[["245a80b7.d2e49","5ca0894f.d92f08"]]},{"id":"245a80b7.d2e49","type":"watson-speech-to-text","z":"b15ce062.a438f","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"BSBsDaVEt-qGh8K4l5zce9p9GOutLkMnNptBUSsItDA_","payload-response":false,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"","x":360,"y":400,"wires":[["df60939b.08b68"]]},{"id":"df60939b.08b68","type":"debug","z":"b15ce062.a438f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":400,"wires":[]},{"id":"5ca0894f.d92f08","type":"debug","z":"b15ce062.a438f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":320,"wires":[]},{"id":"fe146efb.aa574","type":"comment","z":"b15ce062.a438f","name":"Watson文字轉語音","info":"","x":130,"y":60,"wires":[]},{"id":"58fdd4f.714752c","type":"comment","z":"b15ce062.a438f","name":"Watson語音轉文字","info":"","x":130,"y":300,"wires":[]}]