Lab1/02ＷastonLanguageTranslator/Translator.json
[{"id":"f05faaf2.8f8798","type":"tab","label":"watson翻譯","disabled":false,"info":""},{"id":"edce173.ca5ede8","type":"watson-translator","z":"f05faaf2.8f8798","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"zh-TW","password":"","apikey":"XdR0p7r04TI8TsceO_hLtX8oJID-b22nkepyQ-n7nZyk","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"zh-TW","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":330,"y":80,"wires":[["c5409774.e32b98"]]},{"id":"fa4c3609.a3b958","type":"inject","z":"f05faaf2.8f8798","name":"","topic":"","payload":"Once upon a time there lived in a certain village a little country girl, the prettiest creature who was ever seen. Her mother was excessively fond of her; and her grandmother doted on her still more. This good woman had a little red riding hood made for her. It suited the girl so extremely well that everybody called her Little Red Riding Hood.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["40e9d21.645d02c","edce173.ca5ede8"]]},{"id":"34713782.8ec3d8","type":"debug","z":"f05faaf2.8f8798","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":460,"wires":[]},{"id":"a6347ed0.6bfc1","type":"watson-doc-translator","z":"f05faaf2.8f8798","name":"","password":"","apikey":"XdR0p7r04TI8TsceO_hLtX8oJID-b22nkepyQ-n7nZyk","action":"translateDocument","srclang":"en","destlang":"zh-TW","srclanghidden":"en","destlanghidden":"zh-TW","filename":"translator.txt","document-id":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":140,"y":460,"wires":[["34713782.8ec3d8"]]},{"id":"6a7c1bf1.07bb34","type":"http in","z":"f05faaf2.8f8798","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":410,"y":200,"wires":[["d346843e.49c7b8"]]},{"id":"d346843e.49c7b8","type":"template","z":"f05faaf2.8f8798","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Upload a file here:</h1>\n\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":590,"y":200,"wires":[["f7f7169d.a3b4d8"]]},{"id":"f7f7169d.a3b4d8","type":"http response","z":"f05faaf2.8f8798","name":"","x":750,"y":200,"wires":[]},{"id":"94064161.db7d","type":"http response","z":"f05faaf2.8f8798","name":"","statusCode":"","headers":{},"x":1150,"y":320,"wires":[]},{"id":"6359f201.edce4c","type":"debug","z":"f05faaf2.8f8798","name":"","active":false,"console":"false","complete":"req.files","x":670,"y":260,"wires":[]},{"id":"9eba96d4.2c0168","type":"comment","z":"f05faaf2.8f8798","name":"Simple file upload example","info":"http://localhost:1880/upload","x":450,"y":160,"wires":[]},{"id":"17ed03d5.04469c","type":"template","z":"f05faaf2.8f8798","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>File {{originalname}} uploaded !</p>\n\n<h2>Contents:</h2>\n\n<pre>\n{{{payload}}}\n</pre>","output":"str","x":1000,"y":320,"wires":[["94064161.db7d"]]},{"id":"b266dc76.afb4d","type":"function","z":"f05faaf2.8f8798","name":"","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["17ed03d5.04469c"]]},{"id":"a4dbd002.fbdec","type":"http in","z":"f05faaf2.8f8798","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":450,"y":320,"wires":[["6359f201.edce4c","b2c52d49.3d8f6"]]},{"id":"b2c52d49.3d8f6","type":"change","z":"f05faaf2.8f8798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":320,"wires":[["a6347ed0.6bfc1","b266dc76.afb4d"]]},{"id":"440dbea4.e283d","type":"watson-doc-translator","z":"f05faaf2.8f8798","name":"","password":"","apikey":"XdR0p7r04TI8TsceO_hLtX8oJID-b22nkepyQ-n7nZyk","action":"documentStatus","srclang":"en","destlang":"zh-TW","srclanghidden":"en","destlanghidden":"zh-TW","filename":"translator.txt","document-id":"479940e8-9681-4270-bc8b-69fb85c9dd88","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":420,"y":540,"wires":[["c6a8294b.f753c8"]]},{"id":"277b5ba4.3feb14","type":"inject","z":"f05faaf2.8f8798","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["440dbea4.e283d","1166c5e2.5a28da"]]},{"id":"c6a8294b.f753c8","type":"debug","z":"f05faaf2.8f8798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":540,"wires":[]},{"id":"1166c5e2.5a28da","type":"watson-doc-translator","z":"f05faaf2.8f8798","name":"","password":"","apikey":"XdR0p7r04TI8TsceO_hLtX8oJID-b22nkepyQ-n7nZyk","action":"getDocument","srclang":"en","destlang":"zh-TW","srclanghidden":"en","destlanghidden":"zh-TW","filename":"translator.txt","document-id":"479940e8-9681-4270-bc8b-69fb85c9dd88","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":420,"y":620,"wires":[["35b77aa.2886486","92577701.434128"]]},{"id":"35b77aa.2886486","type":"debug","z":"f05faaf2.8f8798","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":620,"wires":[]},{"id":"92577701.434128","type":"change","z":"f05faaf2.8f8798","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/plain; charset=utf-8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":700,"wires":[["d66e588e.edb2a8"]]},{"id":"d66e588e.edb2a8","type":"http response","z":"f05faaf2.8f8798","name":"","statusCode":"","headers":{},"x":910,"y":700,"wires":[]},{"id":"974633a7.6735d","type":"http in","z":"f05faaf2.8f8798","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":120,"y":620,"wires":[["1166c5e2.5a28da"]]},{"id":"cc5f851b.233d78","type":"comment","z":"f05faaf2.8f8798","name":"document translator example","info":"http://localhost:1880/upload","x":140,"y":380,"wires":[]},{"id":"b34b1bd0.f1b688","type":"comment","z":"f05faaf2.8f8798","name":"Watsom translator example","info":"http://localhost:1880/upload","x":140,"y":40,"wires":[]},{"id":"c5409774.e32b98","type":"debug","z":"f05faaf2.8f8798","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":80,"wires":[]},{"id":"bc557795.012a88","type":"comment","z":"f05faaf2.8f8798","name":"練習-做一個多國語言翻譯的API服務","info":"http://localhost:83/translator?language=QQ&input=are%20you%20alright?\n\nhttp://localhost:83/translator1?language=jp&input=are%20you%20alright?","x":160,"y":760,"wires":[]},{"id":"9156d5d0.f4bc48","type":"http in","z":"f05faaf2.8f8798","name":"","url":"/translator","method":"get","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["fef2dfa7.e3e3a"]]},{"id":"fef2dfa7.e3e3a","type":"function","z":"f05faaf2.8f8798","name":"get input","func":"var expl=msg.payload[\"language\"] || \"\";\nvar expi=msg.payload[\"input\"] || \"\";\n\nswitch (expl.toLowerCase()) {\n  case 'ko':\n      expl='ko'\n    break;\n  case 'tw':\n      expl='tw'\n    break;  \n  case 'jp':\n      expl='jp'\n    break;\n  default:\n      expl='NA';\n}\n\nmsg.lang=expl;\nmsg.payload=expi;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":880,"wires":[["7f75818a.28945"]]},{"id":"69f1a20d.414d7c","type":"http response","z":"f05faaf2.8f8798","name":"","statusCode":"","headers":{},"x":910,"y":880,"wires":[]},{"id":"d2507a8a.d448f8","type":"watson-translator","z":"f05faaf2.8f8798","name":"ko","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"ko","password":"","apikey":"XdR0p7r04TI8TsceO_hLtX8oJID-b22nkepyQ-n7nZyk","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"ko","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":670,"y":800,"wires":[["69f1a20d.414d7c","a069068c.539df8"]]},{"id":"7f75818a.28945","type":"switch","z":"f05faaf2.8f8798","name":"","property":"lang","propertyType":"msg","rules":[{"t":"eq","v":"ko","vt":"str"},{"t":"eq","v":"tw","vt":"str"},{"t":"eq","v":"jp","vt":"str"},{"t":"eq","v":"NA","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":880,"wires":[["d2507a8a.d448f8"],["d58837de.3a2c68"],["283930bc.883d2"],["9ae6f66f.ebd0c8"]]},{"id":"9ae6f66f.ebd0c8","type":"template","z":"f05faaf2.8f8798","name":"NA","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"我不會耶!","output":"str","x":670,"y":980,"wires":[["69f1a20d.414d7c"]]},{"id":"a069068c.539df8","type":"debug","z":"f05faaf2.8f8798","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":800,"wires":[]},{"id":"d58837de.3a2c68","type":"watson-translator","z":"f05faaf2.8f8798","name":"tw","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"zh-TW","password":"","apikey":"XdR0p7r04TI8TsceO_hLtX8oJID-b22nkepyQ-n7nZyk","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"zh-TW","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":670,"y":860,"wires":[["69f1a20d.414d7c"]]},{"id":"283930bc.883d2","type":"watson-translator","z":"f05faaf2.8f8798","name":"jp","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"ja","password":"","apikey":"XdR0p7r04TI8TsceO_hLtX8oJID-b22nkepyQ-n7nZyk","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"ja","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":670,"y":920,"wires":[["69f1a20d.414d7c"]]},{"id":"7338931d.a09cbc","type":"http in","z":"f05faaf2.8f8798","name":"","url":"/translator1","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1080,"wires":[["e20fc372.3a8ad"]]},{"id":"e20fc372.3a8ad","type":"function","z":"f05faaf2.8f8798","name":"get input","func":"var expl=msg.payload[\"language\"] || \"\";\nvar expi=msg.payload[\"input\"] || \"\";\n\nswitch (expl.toLowerCase()) {\n  case 'ko':\n      expl='en-ko'\n    break;\n  case 'tw':\n      expl='en-zh-TW'\n    break;  \n  case 'jp':\n      expl='en-ja'\n    break;\n  default:\n      expl='NA';\n}\n\nvar out = {\n    'text': expi.split(),\n    'model_id': expl\n};\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers = {'Authorization' : 'Basic xxx可詢問'};\nmsg.payload=out;\n\n// msg.payload=JSON.stringify(out);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1080,"wires":[["529085ff.7d072c"]]},{"id":"b159f441.2c7f18","type":"http request","z":"f05faaf2.8f8798","name":"watson api","method":"POST","ret":"obj","paytoqs":false,"url":"https://gateway.watsonplatform.net/language-translator/api/v3/translate?version=2018-05-01","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":1060,"wires":[["1caeeca0.d53563"]]},{"id":"1caeeca0.d53563","type":"http response","z":"f05faaf2.8f8798","name":"","statusCode":"","headers":{},"x":910,"y":1060,"wires":[]},{"id":"529085ff.7d072c","type":"switch","z":"f05faaf2.8f8798","name":"","property":"payload.model_id","propertyType":"msg","rules":[{"t":"neq","v":"NA","vt":"str"},{"t":"eq","v":"NA","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1080,"wires":[["b159f441.2c7f18"],["88a3bd8d.b344"]]},{"id":"88a3bd8d.b344","type":"template","z":"f05faaf2.8f8798","name":"NA","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"我不會耶!","output":"str","x":670,"y":1120,"wires":[["1caeeca0.d53563"]]},{"id":"b56848df.00d2d8","type":"comment","z":"f05faaf2.8f8798","name":"watson元件版","info":"http://localhost:83/translator?language=QQ&input=are%20you%20alright?\n\nhttp://localhost:83/translator1?language=jp&input=are%20you%20alright?","x":90,"y":840,"wires":[]},{"id":"2152aa3a.113096","type":"comment","z":"f05faaf2.8f8798","name":"手刻版","info":"http://localhost:83/translator?language=QQ&input=are%20you%20alright?\n\nhttp://localhost:83/translator1?language=jp&input=are%20you%20alright?","x":70,"y":1040,"wires":[]},{"id":"40e9d21.645d02c","type":"watson-language-translator-identify","z":"f05faaf2.8f8798","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":130,"y":180,"wires":[["dd73aff0.81a0d"]]},{"id":"dd73aff0.81a0d","type":"debug","z":"f05faaf2.8f8798","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":280,"wires":[]},{"id":"f8718242.2146b","type":"comment","z":"f05faaf2.8f8798","name":"語系&測試網址","info":"輸入韓國、台灣、日本、無\n\n測試網址:\nhttps://andylabdemo.us-south.cf.appdomain.cloud/translator?language=ko&input=are%20you%20alright?\n\nhttps://andylabdemo.us-south.cf.appdomain.cloud/translator?language=tw&input=are%20you%20alright?\n\nhttps://andylabdemo.us-south.cf.appdomain.cloud/translator?language=ja&input=are%20you%20alright?","x":300,"y":840,"wires":[]}]