Lab1/02ＷastonLanguageTranslator/Translator.json
[{"id":"282bc72a.e73a78","type":"tab","label":"watson翻譯","disabled":false,"info":""},{"id":"615daee1.7f40c","type":"watson-translator","z":"282bc72a.e73a78","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"zh-TW","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"zh-TW","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":330,"y":80,"wires":[["76c02311.52185c"]]},{"id":"2f61decc.ffc562","type":"inject","z":"282bc72a.e73a78","name":"","topic":"","payload":"Once upon a time there lived in a certain village a little country girl, the prettiest creature who was ever seen. Her mother was excessively fond of her; and her grandmother doted on her still more. This good woman had a little red riding hood made for her. It suited the girl so extremely well that everybody called her Little Red Riding Hood.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["615daee1.7f40c","a67a82cd.1b051"]]},{"id":"57e6be34.5deb5","type":"debug","z":"282bc72a.e73a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":460,"wires":[]},{"id":"a1671bb4.1f2718","type":"watson-doc-translator","z":"282bc72a.e73a78","name":"","password":"","apikey":"","action":"translateDocument","srclang":"en","destlang":"zh-TW","srclanghidden":"en","destlanghidden":"zh-TW","filename":"translator.txt","document-id":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":140,"y":460,"wires":[["57e6be34.5deb5"]]},{"id":"29e3e9bf.9a8ab6","type":"http in","z":"282bc72a.e73a78","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":410,"y":200,"wires":[["b3196a77.889ef8"]]},{"id":"b3196a77.889ef8","type":"template","z":"282bc72a.e73a78","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Upload a file here:</h1>\n\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":590,"y":200,"wires":[["c873aea5.4a4cc"]]},{"id":"c873aea5.4a4cc","type":"http response","z":"282bc72a.e73a78","name":"","x":750,"y":200,"wires":[]},{"id":"951025dd.60a8e8","type":"http response","z":"282bc72a.e73a78","name":"","statusCode":"","headers":{},"x":1150,"y":320,"wires":[]},{"id":"25ca6bf.7ba9f94","type":"debug","z":"282bc72a.e73a78","name":"","active":false,"console":"false","complete":"req.files","x":670,"y":260,"wires":[]},{"id":"fcd072d7.3ca3b","type":"comment","z":"282bc72a.e73a78","name":"Simple file upload example","info":"http://localhost:1880/upload","x":450,"y":160,"wires":[]},{"id":"ff179803.374e88","type":"template","z":"282bc72a.e73a78","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>File {{originalname}} uploaded !</p>\n\n<h2>Contents:</h2>\n\n<pre>\n{{{payload}}}\n</pre>","output":"str","x":1000,"y":320,"wires":[["951025dd.60a8e8"]]},{"id":"802d9308.54c28","type":"function","z":"282bc72a.e73a78","name":"","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["ff179803.374e88"]]},{"id":"a3b6e3b9.75f72","type":"http in","z":"282bc72a.e73a78","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":450,"y":320,"wires":[["25ca6bf.7ba9f94","404b44c8.5fffec"]]},{"id":"404b44c8.5fffec","type":"change","z":"282bc72a.e73a78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":320,"wires":[["a1671bb4.1f2718","802d9308.54c28"]]},{"id":"a1c56884.cfb6b8","type":"watson-doc-translator","z":"282bc72a.e73a78","name":"","password":"","apikey":"","action":"documentStatus","srclang":"en","destlang":"zh-TW","srclanghidden":"en","destlanghidden":"zh-TW","filename":"translator.txt","document-id":"4ddda850-0983-4d63-9da8-efd83a7e88e4","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":420,"y":540,"wires":[["cfa94c08.7bd73"]]},{"id":"6a498118.2571f","type":"inject","z":"282bc72a.e73a78","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["a1c56884.cfb6b8"]]},{"id":"cfa94c08.7bd73","type":"debug","z":"282bc72a.e73a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":540,"wires":[]},{"id":"f9545cb9.70326","type":"watson-doc-translator","z":"282bc72a.e73a78","name":"","password":"","apikey":"","action":"getDocument","srclang":"en","destlang":"zh-TW","srclanghidden":"en","destlanghidden":"zh-TW","filename":"translator.txt","document-id":"4ddda850-0983-4d63-9da8-efd83a7e88e4","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":420,"y":620,"wires":[["aafb7f38.61ee1","c3aa4d20.46e46"]]},{"id":"aafb7f38.61ee1","type":"debug","z":"282bc72a.e73a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":620,"wires":[]},{"id":"c3aa4d20.46e46","type":"change","z":"282bc72a.e73a78","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/plain; charset=utf-8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":700,"wires":[["3c45dcaa.ed6e74"]]},{"id":"3c45dcaa.ed6e74","type":"http response","z":"282bc72a.e73a78","name":"","statusCode":"","headers":{},"x":910,"y":700,"wires":[]},{"id":"ef885420.dfec48","type":"http in","z":"282bc72a.e73a78","name":"","url":"/downloaddoc","method":"get","upload":false,"swaggerDoc":"","x":130,"y":620,"wires":[["f9545cb9.70326"]]},{"id":"f892de56.c5eb2","type":"comment","z":"282bc72a.e73a78","name":"document translator example","info":"http://localhost:1880/upload","x":140,"y":380,"wires":[]},{"id":"1bf02e1a.b96f82","type":"comment","z":"282bc72a.e73a78","name":"Watsom translator example","info":"http://localhost:1880/upload","x":140,"y":40,"wires":[]},{"id":"76c02311.52185c","type":"debug","z":"282bc72a.e73a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":80,"wires":[]},{"id":"18fb49a5.4f46f6","type":"comment","z":"282bc72a.e73a78","name":"練習-做一個翻譯的API服務","info":"http://localhost:83/translator?language=QQ&input=are%20you%20alright?\n\nhttp://localhost:83/translator1?language=jp&input=are%20you%20alright?","x":130,"y":760,"wires":[]},{"id":"76d79232.62c79c","type":"http in","z":"282bc72a.e73a78","name":"","url":"/translator","method":"get","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["922457f8.7f5268"]]},{"id":"922457f8.7f5268","type":"function","z":"282bc72a.e73a78","name":"get input","func":"var expl=msg.payload[\"language\"] || \"\";\nvar expi=msg.payload[\"input\"] || \"\";\n\n// switch (expl.toLowerCase()) {\n//   case 'ko':\n//       expl='ko'\n//     break;\n//   case 'tw':\n//       expl='tw'\n//     break;  \n//   case 'jp':\n//       expl='jp'\n//     break;\n//   default:\n//       expl='NA';\n// }\n\nmsg.lang=expl;\nmsg.payload=expi;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":880,"wires":[["eaad83cb.203a7"]]},{"id":"be3c6cb5.e179d","type":"http response","z":"282bc72a.e73a78","name":"","statusCode":"","headers":{},"x":910,"y":900,"wires":[]},{"id":"b1149b3a.685808","type":"watson-translator","z":"282bc72a.e73a78","name":"ko","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"ko","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"ko","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":670,"y":860,"wires":[["be3c6cb5.e179d","44ecc6e6.4fc938"]]},{"id":"eaad83cb.203a7","type":"switch","z":"282bc72a.e73a78","name":"","property":"lang","propertyType":"msg","rules":[{"t":"eq","v":"ko","vt":"str"},{"t":"eq","v":"tw","vt":"str"},{"t":"eq","v":"jp","vt":"str"},{"t":"eq","v":"NA","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":880,"wires":[["b1149b3a.685808"],[],[],[]]},{"id":"44ecc6e6.4fc938","type":"debug","z":"282bc72a.e73a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":800,"wires":[]},{"id":"b22cb958.f8d4a8","type":"http in","z":"282bc72a.e73a78","name":"","url":"/translator1","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1080,"wires":[["782d12d3.d80a8c"]]},{"id":"782d12d3.d80a8c","type":"function","z":"282bc72a.e73a78","name":"get input","func":"var expl=msg.payload[\"language\"] || \"\";\nvar expi=msg.payload[\"input\"] || \"\";\n\nswitch (expl.toLowerCase()) {\n  case 'ko':\n      expl='en-ko'\n    break;\n  case 'tw':\n      expl='en-zh-TW'\n    break;  \n  case 'jp':\n      expl='en-ja'\n    break;\n  default:\n      expl='NA';\n}\n\nvar out = {\n    'text': expi.split(),\n    'model_id': expl\n};\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers = {'Authorization' : 'Basic XX'};\nmsg.payload=out;\n\n// msg.payload=JSON.stringify(out);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1080,"wires":[["1d89a1df.bbacde"]]},{"id":"be7bd2e9.35bd2","type":"http request","z":"282bc72a.e73a78","name":"watson api","method":"POST","ret":"obj","paytoqs":false,"url":"https://gateway.watsonplatform.net/language-translator/api/v3/translate?version=2018-05-01","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":1060,"wires":[["4c9e9116.43c5c"]]},{"id":"4c9e9116.43c5c","type":"http response","z":"282bc72a.e73a78","name":"","statusCode":"","headers":{},"x":910,"y":1060,"wires":[]},{"id":"1d89a1df.bbacde","type":"switch","z":"282bc72a.e73a78","name":"","property":"payload.model_id","propertyType":"msg","rules":[{"t":"neq","v":"NA","vt":"str"},{"t":"eq","v":"NA","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1080,"wires":[["be7bd2e9.35bd2"],["2fb454fe.16e51c"]]},{"id":"2fb454fe.16e51c","type":"template","z":"282bc72a.e73a78","name":"NA","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"我不會耶!","output":"str","x":670,"y":1120,"wires":[["4c9e9116.43c5c"]]},{"id":"4a4cfcf1.97d484","type":"comment","z":"282bc72a.e73a78","name":"watson元件版","info":"http://localhost:83/translator?language=QQ&input=are%20you%20alright?\n\nhttp://localhost:83/translator1?language=jp&input=are%20you%20alright?","x":90,"y":840,"wires":[]},{"id":"8a56a1df.d21fd","type":"comment","z":"282bc72a.e73a78","name":"手刻版","info":"http://localhost:83/translator?language=QQ&input=are%20you%20alright?\nhttp://localhost:83/translator1?language=jp&input=are%20you%20alright?\n\napikey:XXX","x":70,"y":1040,"wires":[]},{"id":"a67a82cd.1b051","type":"watson-language-translator-identify","z":"282bc72a.e73a78","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":130,"y":180,"wires":[["6da22a83.ae9d24"]]},{"id":"6da22a83.ae9d24","type":"debug","z":"282bc72a.e73a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":280,"wires":[]}]