Lab1/06ISS/ISS.json
[{"id":"4c57698c.e05c98","type":"tab","label":"ISS國際太空站追蹤","disabled":false,"info":""},{"id":"968a2124.b7aab","type":"http in","z":"4c57698c.e05c98","name":"ISS webpage","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":270,"y":120,"wires":[["6623d97a.97d558"]]},{"id":"6623d97a.97d558","type":"template","z":"4c57698c.e05c98","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My ISS\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n\t<style>\n    \tbody {\n    \t    font-family: monospace;\n    \t}\n\t    .sat-track {\n\t        display: flex;\n\t        height: 100%;\n            font-family: monospace;\n\t    }\n\t      \n\t    h1 {\n\t        margin: 0px;\n            background-color: black;\n            color: #eee;\n            padding: 12px 6px;\n            font-size: 16pt;\n            border-bottom: 1px solid #00b8ff;\n\t    }\n\t    \n\t    .sat-track--map {\n\t        width: 100%;\n\t    }\n\t    \n\t    .sat-track--map iframe {\n\t        width: 100%;\n\t        height: 100%;\n\t    }\n\t    \n\t    .sat-track--map small {\n\t        position: absolute;\n            bottom: 0px;\n\t    }\n\t    \n\t</style>\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n    </div>\n    \n    <div class=\"sat-track\">\n        <div class=\"sat-track--map\" id=\"WorldMap\">\n            <iframe id=\"mode-iframe\" width=\"800\" height=\"600\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"./worldmap\"></iframe>\n            <br /><small><a id=\"mode-link\" href=\"./worldmap\" style=\"color:#0000FF;text-align:left\">View Larger Map</a></small>\n        </div>\n    </div>\n\t  \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>\n        $(document).ready(function() {\n            javascriptCheck();\n            $('#id_contextdump').hide();\n            //invokeAjax (\"Hello\");\n        });\n        \n        // if javascript is enabled on the browser then can remove the warning message\n        function javascriptCheck() {\n            $('#no-script').remove();\n        }\n        \n       \n        function switchMode(mode) {\n            if (mode === '3d') {\n                document.getElementById('mode-iframe').src = './earth'\n                document.getElementById('mode-link').href = './earth'\n            } else {\n                document.getElementById('mode-iframe').src = './worldmap'\n                document.getElementById('mode-link').href = './worldmap'\n            }\n            \n        } \n    </script>\n  </body>\n</html>\n\n","output":"str","x":450,"y":120,"wires":[["b7a59f8.9c3966"]]},{"id":"b7a59f8.9c3966","type":"http response","z":"4c57698c.e05c98","name":"ISS http response","statusCode":"","headers":{},"x":630,"y":120,"wires":[]},{"id":"570c5075.54c05","type":"function","z":"4c57698c.e05c98","name":"ISS to map","func":"msg.mydata = msg.payload;\nvar lat=msg.mydata.lat;\nvar lon=msg.mydata.lon;\nvar time = new Date();\nmsg.payload = {};\nmsg.payload.name = \"ISS @ \" + time.getHours() + ':' + time.getMinutes() + ' on ' + (1 + time.getMonth()) + '/' + time.getDate() + '/' + time.getFullYear();\n// msg.payload.lat = Math.round(100 * msg.mydata.position.lat)/100;\n// msg.payload.lon = Math.round(100 * msg.mydata.position.lon)/100;\nmsg.payload.lat = Math.round(100 * lat)/100;\nmsg.payload.lon = Math.round(100 * lon)/100;\nmsg.payload.layer = \"ISS\";\nmsg.payload.zoom = 15;\nmsg.payload.icon = \"iss\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["9e212a32.e21ff8","5515c21.006753c","e6e13a31.36bd28"]]},{"id":"ef913967.deac58","type":"inject","z":"4c57698c.e05c98","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":710,"y":240,"wires":[["11feb353.b50dad"]]},{"id":"11feb353.b50dad","type":"function","z":"4c57698c.e05c98","name":"add map layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 2, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":240,"wires":[["9e212a32.e21ff8"]]},{"id":"e6e13a31.36bd28","type":"function","z":"4c57698c.e05c98","name":"move and zoom","func":"msg.payload = { \n    command:{\n        layer:\"Esri Terrain\",\n        lat:msg.payload.lat,\n        lon:msg.payload.lon,\n        zoom:4\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":280,"wires":[["9e212a32.e21ff8"]]},{"id":"c13e9f7.0c2256","type":"comment","z":"4c57698c.e05c98","name":"ISS web page","info":"","x":270,"y":80,"wires":[]},{"id":"8b72a0c3.749a5","type":"comment","z":"4c57698c.e05c98","name":"World Map","info":"","x":1240,"y":240,"wires":[]},{"id":"9e212a32.e21ff8","type":"worldmap","z":"4c57698c.e05c98","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","x":1230,"y":300,"wires":[]},{"id":"5515c21.006753c","type":"worldmap-tracks","z":"4c57698c.e05c98","name":"","depth":20,"layer":"combined","x":885,"y":341,"wires":[["9e212a32.e21ff8"]]},{"id":"901f0617.4e5c68","type":"earth","z":"4c57698c.e05c98","name":"","x":870,"y":420,"wires":[]},{"id":"e52d3ce0.e12b6","type":"inject","z":"4c57698c.e05c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["a58a9ea1.90bcb"]]},{"id":"ae7f23b6.ebc8a","type":"function","z":"4c57698c.e05c98","name":"ISS to map","func":"msg.mydata = msg.payload;\nvar lat=msg.mydata.lat;\nvar lon=msg.mydata.lon;\nlat = Math.round(100 * lat)/100;\nlon = Math.round(100 * lon)/100;\n\nvar time = new Date();\nmsg.payload = {\n    \"name\" : \"ISS\",\n\"position\": {\n\t\"lat\": lat,\n\t\"lon\": lon,\n\t\"alt\": 41300\n}\n    \n};\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["901f0617.4e5c68","bc3c037d.681d7"]]},{"id":"5b6ee421.1e4efc","type":"comment","z":"4c57698c.e05c98","name":"Open-Notify-API","info":"nasa來源:\nhttps://spaceflight.nasa.gov/realdata/sightings/SSapplications/Post/JavaSSOP/orbit/ISS/SVPOST.html\n\nhttp://open-notify.org/Open-Notify-API/ISS-Location-Now/\n\niss:\nhttp://api.open-notify.org/iss-now.json\n\n","x":100,"y":80,"wires":[]},{"id":"a58a9ea1.90bcb","type":"http request","z":"4c57698c.e05c98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":240,"wires":[["12ad5dd9.8002a2","1003734f.39d3cd"]]},{"id":"12ad5dd9.8002a2","type":"debug","z":"4c57698c.e05c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":240,"wires":[]},{"id":"1003734f.39d3cd","type":"function","z":"4c57698c.e05c98","name":"paser api","func":"let issdata = JSON.parse(msg.payload);\nmsg.payload = {};\nmsg.payload.lon=issdata.iss_position.longitude;\nmsg.payload.lat=issdata.iss_position.latitude;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["570c5075.54c05","ae7f23b6.ebc8a"]]},{"id":"bc3c037d.681d7","type":"debug","z":"4c57698c.e05c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":540,"wires":[]}]