Lab1/06ISS/ISS.json
[{"id":"54024f1f.7ad41","type":"tab","label":"ISS國際太空站追蹤","disabled":false,"info":""},{"id":"6711bb20.7a6774","type":"http in","z":"54024f1f.7ad41","name":"ISS webpage","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":270,"y":120,"wires":[["bddf291d.dba9e8"]]},{"id":"bddf291d.dba9e8","type":"template","z":"54024f1f.7ad41","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My ISS\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n\t<style>\n    \tbody {\n    \t    font-family: monospace;\n    \t}\n\t    .sat-track {\n\t        display: flex;\n\t        height: 100%;\n            font-family: monospace;\n\t    }\n\t      \n\t    h1 {\n\t        margin: 0px;\n            background-color: black;\n            color: #eee;\n            padding: 12px 6px;\n            font-size: 16pt;\n            border-bottom: 1px solid #00b8ff;\n\t    }\n\t    \n\t    .sat-track--map {\n\t        width: 100%;\n\t    }\n\t    \n\t    .sat-track--map iframe {\n\t        width: 100%;\n\t        height: 100%;\n\t    }\n\t    \n\t    .sat-track--map small {\n\t        position: absolute;\n            bottom: 0px;\n\t    }\n\t    \n\t</style>\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n    </div>\n    \n    <div class=\"sat-track\">\n        <div class=\"sat-track--map\" id=\"WorldMap\">\n            <iframe id=\"mode-iframe\" width=\"800\" height=\"600\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"./worldmap\"></iframe>\n            <br /><small><a id=\"mode-link\" href=\"./worldmap\" style=\"color:#0000FF;text-align:left\">View Larger Map</a></small>\n        </div>\n    </div>\n\t  \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>\n        $(document).ready(function() {\n            javascriptCheck();\n            $('#id_contextdump').hide();\n            //invokeAjax (\"Hello\");\n        });\n        \n        // if javascript is enabled on the browser then can remove the warning message\n        function javascriptCheck() {\n            $('#no-script').remove();\n        }\n        \n       \n        function switchMode(mode) {\n            if (mode === '3d') {\n                document.getElementById('mode-iframe').src = './earth'\n                document.getElementById('mode-link').href = './earth'\n            } else {\n                document.getElementById('mode-iframe').src = './worldmap'\n                document.getElementById('mode-link').href = './worldmap'\n            }\n            \n        } \n    </script>\n  </body>\n</html>\n\n","output":"str","x":450,"y":120,"wires":[["a9f270e6.cf2ce"]]},{"id":"a9f270e6.cf2ce","type":"http response","z":"54024f1f.7ad41","name":"ISS http response","statusCode":"","headers":{},"x":630,"y":120,"wires":[]},{"id":"8f2ba736.7ebe38","type":"function","z":"54024f1f.7ad41","name":"ISS to map","func":"msg.mydata = msg.payload;\nvar lat=msg.mydata.lat;\nvar lon=msg.mydata.lon;\nvar time = new Date();\nmsg.payload = {};\nmsg.payload.name = \"ISS @ \" + time.getHours() + ':' + time.getMinutes() + ' on ' + (1 + time.getMonth()) + '/' + time.getDate() + '/' + time.getFullYear();\n// msg.payload.lat = Math.round(100 * msg.mydata.position.lat)/100;\n// msg.payload.lon = Math.round(100 * msg.mydata.position.lon)/100;\nmsg.payload.lat = Math.round(100 * lat)/100;\nmsg.payload.lon = Math.round(100 * lon)/100;\nmsg.payload.layer = \"ISS\";\nmsg.payload.zoom = 15;\nmsg.payload.icon = \"iss\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["d5ab0836.00e868","524791f6.5680b","48c650.996ef9b"]]},{"id":"5f05ecf4.594ae4","type":"inject","z":"54024f1f.7ad41","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":710,"y":240,"wires":[["1fed33a0.66337c"]]},{"id":"1fed33a0.66337c","type":"function","z":"54024f1f.7ad41","name":"add map layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 2, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":240,"wires":[["d5ab0836.00e868"]]},{"id":"48c650.996ef9b","type":"function","z":"54024f1f.7ad41","name":"move and zoom","func":"msg.payload = { \n    command:{\n        layer:\"Esri Terrain\",\n        lat:msg.payload.lat,\n        lon:msg.payload.lon,\n        zoom:4\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":280,"wires":[["d5ab0836.00e868"]]},{"id":"b2788faa.5115a","type":"comment","z":"54024f1f.7ad41","name":"ISS web page","info":"","x":270,"y":80,"wires":[]},{"id":"7d38a99e.9439e8","type":"comment","z":"54024f1f.7ad41","name":"World Map","info":"","x":1240,"y":240,"wires":[]},{"id":"d5ab0836.00e868","type":"worldmap","z":"54024f1f.7ad41","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","x":1230,"y":300,"wires":[]},{"id":"524791f6.5680b","type":"worldmap-tracks","z":"54024f1f.7ad41","name":"","depth":20,"layer":"combined","x":885,"y":341,"wires":[["d5ab0836.00e868"]]},{"id":"17880d21.b225f3","type":"earth","z":"54024f1f.7ad41","name":"","x":870,"y":420,"wires":[]},{"id":"f7b8c164.f745e","type":"inject","z":"54024f1f.7ad41","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["de2974f0.6cb4e8"]]},{"id":"dca31479.4aad18","type":"function","z":"54024f1f.7ad41","name":"ISS to map","func":"msg.mydata = msg.payload;\nvar lat=msg.mydata.lat;\nvar lon=msg.mydata.lon;\nlat = Math.round(100 * lat)/100;\nlon = Math.round(100 * lon)/100;\n\nvar time = new Date();\nmsg.payload = {\n    \"name\" : \"ISS\",\n\"position\": {\n\t\"lat\": lat,\n\t\"lon\": lon,\n\t\"alt\": 41300\n}\n    \n};\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["17880d21.b225f3","6000b519.ad55dc"]]},{"id":"7aaf5ca3.ee88a4","type":"comment","z":"54024f1f.7ad41","name":"Open-Notify-API","info":"nasa來源:\nhttps://spaceflight.nasa.gov/realdata/sightings/SSapplications/Post/JavaSSOP/orbit/ISS/SVPOST.html\n\nhttp://open-notify.org/Open-Notify-API/ISS-Location-Now/\n\niss:\nhttp://api.open-notify.org/iss-now.json\n\n","x":100,"y":80,"wires":[]},{"id":"de2974f0.6cb4e8","type":"http request","z":"54024f1f.7ad41","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":240,"wires":[["91b8ee6a.eb6fa","7d3e8665.e13798"]]},{"id":"91b8ee6a.eb6fa","type":"debug","z":"54024f1f.7ad41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":240,"wires":[]},{"id":"7d3e8665.e13798","type":"function","z":"54024f1f.7ad41","name":"paser api","func":"let issdata = JSON.parse(msg.payload);\nmsg.payload = {};\nmsg.payload.lon=issdata.iss_position.longitude;\nmsg.payload.lat=issdata.iss_position.latitude;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["8f2ba736.7ebe38","dca31479.4aad18"]]},{"id":"6000b519.ad55dc","type":"debug","z":"54024f1f.7ad41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":540,"wires":[]},{"id":"5bcd7e3b.7a809","type":"comment","z":"54024f1f.7ad41","name":"測試網址","info":"https://andylabdemo.us-south.cf.appdomain.cloud/iss\n\n再點擊timestamp","x":260,"y":180,"wires":[]}]