Lab2/03WatsonAssistangISSChatbot/ISSChatbot.json
[{"id":"128125f7.979e8a","type":"tab","label":"ISS太空站追蹤進階版","disabled":false,"info":""},{"id":"1f9e95f9.853faa","type":"http in","z":"128125f7.979e8a","name":"ISS webpage","url":"/issp","method":"get","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["b1599d16.bfbd4"]]},{"id":"b1599d16.bfbd4","type":"template","z":"128125f7.979e8a","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My ISS tracker\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n\t<style>\n    \tbody {\n    \t    font-family: monospace;\n    \t}\n\t    .sat-track {\n\t        display: flex;\n\t        height: 100%;\n            font-family: monospace;\n\t    }\n\t    \n\t    .sat-track--chat {\n\t        width: 30%;\n\t        max-width: 400px;\n\t        border-right: 1px solid #929292;\n\t        display: flex;\n\t        flex-direction: column;\n\t    }\n\t    \n\t    .sat-track--chat--logs {\n\t        flex-grow: 1;\n\t        background-color: #262626;\n\t        height: 70%;\n            overflow-y: scroll;\n\t    }\n\t    \n\t    .sat-track--chat--message {\n            width: 100%;\n            margin-top: 12px;\n            display: flex;\n\t    }\n\t    \n\t    .sat-track--chat--message div {\n\t        border-radius: 6px;\n            width: 60%;\n            color: white;\n            padding: 6px 12px;\n\t    }\n\t    \n\t    .sat-track--chat--my div {\n\t        background-color: #4eb8ff;\n            margin-left: 6px;\n            border-bottom-left-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--bot,\n\t    .sat-track--chat--error {\n\t        flex-direction: row-reverse;\n\t    }\n\t    \n\t    .sat-track--chat--bot div,\n\t    .sat-track--chat--error div {\n\t        background-color: #97b83a;\n            margin-right: 6px;\n            border-bottom-right-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--error div {\n\t        background-color: #cc5f5f;\n\t    }\n\t    \n\t    .sat-track--chat form {\n\t        background-color: #141414;\n            margin-bottom: 0px;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat label {\n\t        display: block;\n            padding: 6px;\n            margin-bottom: 0px;\n            border-bottom: 1px solid #434343;\n\t    }\n\t    \n\t    .sat-track--chat textarea {\n    \t    resize: none;\n            width: 100%;\n            min-height: 50px;\n            color: black;\n            padding: 6px;\n\t    }\n\t    \n\t    .sat-track--chat button {\n    \t    width: 100%;\n            padding: 6px 6px;\n            font-size: 12pt;\n            background: #268cb4;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat button:hover {\n\t        cursor: pointer;\n            background: #97b83a;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    h1 {\n\t        margin: 0px;\n            background-color: black;\n            color: #eee;\n            padding: 12px 6px;\n            font-size: 16pt;\n            border-bottom: 1px solid #00b8ff;\n\t    }\n\t    \n\t    .sat-track--map {\n\t        width: 100%;\n\t    }\n\t    \n\t    .sat-track--map iframe {\n\t        width: 100%;\n\t        height: 100%;\n\t    }\n\t    \n\t    .sat-track--map small {\n\t        position: absolute;\n            bottom: 0px;\n\t    }\n\t    \n\t</style>\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n    </div>\n    \n    <div class=\"sat-track\">\n        <div class=\"sat-track--chat\">\n            <h1>ISS國際太空站追蹤器</h1>\n            <div class=\"sat-track--chat--logs\" id=\"id_botchathistory\"></div>\n    \t    <div>\n    \t        <form>\n                  <label for=\"id_chattext\">請輸入: </label>\n                  <textarea type=\"text\" name=\"chattext\" id=\"id_chattext\"></textarea>\n    \t        </form>\n    \t        <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">送出</button>\n    \t    </div>\n        </div>\n        <div class=\"sat-track--map\" id=\"WorldMap\">\n            <iframe id=\"mode-iframe\" width=\"800\" height=\"600\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"./worldmap\"></iframe>\n        </div>\n    </div>\n\t  \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>\n        $(document).ready(function() {\n            javascriptCheck();\n            $('#id_contextdump').hide();\n            enterbutton();\n            //invokeAjax (\"Hello\");\n        });\n        \n        // if javascript is enabled on the browser then can remove the warning message\n        function javascriptCheck() {\n            $('#no-script').remove();\n        }\n        \n        // creates div for interaction with bot      \n        function createNewDiv(who, message) {\n            var txt = who + ': ' + message;\n            var container;\n            if (who == 'My') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--my\"></div>');\n            } else if (who == 'Error') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--error\"></div>');\n            } else {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--bot\"></div>');\n            }\n            container.append($('<div></div>').text(txt))\n            return container;\n            \n        }\n        \n        // appends latest communication with bot to botchathistory\n        function chat(person, txt) {\n            $('#id_botchathistory').append(createNewDiv(person, txt));\n        }    \n        \n        // sets pressing of enter key to perform same action as send button\n        function enterbutton(){\n            $(function() {\n                $(\"form textarea\").keypress(function (e) {\n                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                     $('#id_enter').click();\n                     return false;\n                } else {\n                return true;\n                }\n             });\n            });\n        }\n        \n        // User has entered some text.\n        function onChatClick() {\n            var txt = $('#id_chattext').val();\n            chat('My', txt); \n            invokeAjax(txt);\n            $('#id_chattext').val('');\n        }\n        \n        function switchMode(mode) {\n            if (mode === '3d') {\n                document.getElementById('mode-iframe').src = './earth'\n                document.getElementById('mode-link').href = './earth'\n            } else {\n                document.getElementById('mode-iframe').src = './worldmap'\n                document.getElementById('mode-link').href = './worldmap'\n            }\n            \n        }\n        \n        function processOK(response) {\n            console.log(response);\n            \n            if (response.mode) {\n                switchMode(response.mode)\n                chat('Jarvis', 'Mode Changed to ' + response.mode)\n            } else {\n                chat('Jarvis', response.message);\n                if (response.lat && response.lon) {\n                    chat('Jarvis', \"Latitude: \" + response.lat);\n                    chat('Jarvis', \"Longitude: \" + response.lon);\n                }\n            }\n            // $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n        }\n              \n        function processNotOK() {\n            chat('Error', 'Error whilst attempting to talk to Jarvis');\n        }\n              \n        function invokeAjax(message) {\n            // var contextdata = $('#id_contextdump').data('convContext');\n            // console.error('checking stashed context data');\n            // console.error(contextdata);\n                \n            var ajaxData = {};\n            ajaxData.msgdata = message;\n            // if (contextdata) {\n            //     ajaxData.context = contextdata;    \n            // }\n        \n            $.ajax({\n                type: 'POST',\n                url: 'jarvischat',\n                data: ajaxData,\n                success: processOK,\n                error: processNotOK\n            });\n        }  \n    </script>\n  </body>\n</html>\n","output":"str","x":290,"y":140,"wires":[["a35b601b.95241"]]},{"id":"a35b601b.95241","type":"http response","z":"128125f7.979e8a","name":"ISS http response","statusCode":"","headers":{},"x":470,"y":140,"wires":[]},{"id":"f9f7e5d7.f02bf8","type":"function","z":"128125f7.979e8a","name":"ISS to map","func":"msg.mydata = msg.payload;\nvar lat=msg.mydata.lat;\nvar lon=msg.mydata.lon;\nvar time = new Date();\nmsg.payload = {};\nmsg.payload.name = \"ISS @ \" + time.getHours() + ':' + time.getMinutes() + ' on ' + (1 + time.getMonth()) + '/' + time.getDate() + '/' + time.getFullYear();\n// msg.payload.lat = Math.round(100 * msg.mydata.position.lat)/100;\n// msg.payload.lon = Math.round(100 * msg.mydata.position.lon)/100;\nmsg.payload.lat = Math.round(100 * lat)/100;\nmsg.payload.lon = Math.round(100 * lon)/100;\nmsg.payload.layer = \"ISS\";\nmsg.payload.zoom = 15;\nmsg.payload.icon = \"iss\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["23c07703.474438","71f8c161.8cecc","40b20072.31ba7"]]},{"id":"ee5cd369.f29ac","type":"inject","z":"128125f7.979e8a","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":710,"y":320,"wires":[["9657d904.6370c8"]]},{"id":"9657d904.6370c8","type":"function","z":"128125f7.979e8a","name":"add map layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 2, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":320,"wires":[["23c07703.474438"]]},{"id":"40b20072.31ba7","type":"function","z":"128125f7.979e8a","name":"move and zoom","func":"msg.payload = { \n    command:{\n        layer:\"Esri Terrain\",\n        lat:msg.payload.lat,\n        lon:msg.payload.lon,\n        zoom:4\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":360,"wires":[["23c07703.474438"]]},{"id":"e247a469.61e548","type":"comment","z":"128125f7.979e8a","name":"World Map","info":"","x":1240,"y":300,"wires":[]},{"id":"23c07703.474438","type":"worldmap","z":"128125f7.979e8a","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","x":1230,"y":380,"wires":[]},{"id":"71f8c161.8cecc","type":"worldmap-tracks","z":"128125f7.979e8a","name":"","depth":20,"layer":"combined","x":885,"y":421,"wires":[["23c07703.474438"]]},{"id":"56706797.12c288","type":"earth","z":"128125f7.979e8a","name":"","x":870,"y":500,"wires":[]},{"id":"e4216c47.c5531","type":"inject","z":"128125f7.979e8a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["f0555d21.d7858"]]},{"id":"8497ec6e.08e56","type":"function","z":"128125f7.979e8a","name":"ISS to map","func":"msg.mydata = msg.payload;\nvar lat=msg.mydata.lat;\nvar lon=msg.mydata.lon;\nlat = Math.round(100 * lat)/100;\nlon = Math.round(100 * lon)/100;\n\nvar time = new Date();\nmsg.payload = {\n    \"name\" : \"ISS\",\n\"position\": {\n\t\"lat\": lat,\n\t\"lon\": lon,\n\t\"alt\": 41300\n}\n    \n};\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":590,"y":500,"wires":[["56706797.12c288","9bcd8557.d93e58"]]},{"id":"f0555d21.d7858","type":"http request","z":"128125f7.979e8a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":320,"wires":[["e325f72f.ebd278","d352ef80.71452"]]},{"id":"e325f72f.ebd278","type":"debug","z":"128125f7.979e8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":320,"wires":[]},{"id":"d352ef80.71452","type":"function","z":"128125f7.979e8a","name":"paser api","func":"let issdata = JSON.parse(msg.payload);\nmsg.payload = {};\nmsg.payload.lon=issdata.iss_position.longitude;\nmsg.payload.lat=issdata.iss_position.latitude;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["f9f7e5d7.f02bf8","8497ec6e.08e56"]]},{"id":"9bcd8557.d93e58","type":"debug","z":"128125f7.979e8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":560,"wires":[]},{"id":"c63e3ed0.3ada3","type":"http in","z":"128125f7.979e8a","name":"","url":"/jarvischat","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["d2ff13d7.6cb93"]]},{"id":"d2ff13d7.6cb93","type":"function","z":"128125f7.979e8a","name":"process chat input","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["505c8cda.ad2494"]]},{"id":"505c8cda.ad2494","type":"watson-assistant-v2","z":"128125f7.979e8a","name":"","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"eacb2e63-0b42-4fce-9e99-7e49dd1cf06f","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":490,"y":60,"wires":[["4d9a0c5a.696fc4","178c6b65.80e5a5"]]},{"id":"4d9a0c5a.696fc4","type":"switch","z":"128125f7.979e8a","name":"Assistant Intents","property":"payload.output.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"打招呼","vt":"str"},{"t":"eq","v":"ISS","vt":"str"},{"t":"eq","v":"動作","vt":"str"},{"t":"eq","v":"API","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":5,"x":710,"y":60,"wires":[["b9aaf64.0ea1308","6b462c83.2a0184"],["dd389d09.53d27","6b462c83.2a0184"],["f0555d21.d7858","6b462c83.2a0184","b577d3cf.0d5bd"],["6b462c83.2a0184"],["6b462c83.2a0184"]]},{"id":"6b462c83.2a0184","type":"function","z":"128125f7.979e8a","name":"Assistant output to Chat Room","func":"\ncurrent_payload = msg.payload;\nmsg.payload = {};\n\n    msg.payload.message = current_payload.output.generic[0].text;\n    msg.payload.lat = undefined;\n    msg.payload.lon = undefined;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1110,"y":60,"wires":[["f38ba71b.00d4a8","16a8d8e8.ef0ee7"]]},{"id":"f38ba71b.00d4a8","type":"http response","z":"128125f7.979e8a","name":"Response","statusCode":"200","headers":{},"x":1320,"y":20,"wires":[]},{"id":"dd389d09.53d27","type":"debug","z":"128125f7.979e8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":120,"wires":[]},{"id":"b9aaf64.0ea1308","type":"debug","z":"128125f7.979e8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":20,"wires":[]},{"id":"16a8d8e8.ef0ee7","type":"debug","z":"128125f7.979e8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":100,"wires":[]},{"id":"b577d3cf.0d5bd","type":"debug","z":"128125f7.979e8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":180,"wires":[]},{"id":"178c6b65.80e5a5","type":"debug","z":"128125f7.979e8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":220,"wires":[]},{"id":"a7a315c4.d3e368","type":"comment","z":"128125f7.979e8a","name":"nasa來源","info":"nasa來源:\nhttps://spaceflight.nasa.gov/realdata/sightings/SSapplications/Post/JavaSSOP/orbit/ISS/SVPOST.html\n\nhttp://open-notify.org/Open-Notify-API/ISS-Location-Now/\n\niss:\nhttp://api.open-notify.org/iss-now.json\n\n","x":80,"y":440,"wires":[]}]